{
  "openapi": "3.1.0",
  "info": {
    "title": "DeepDEX Backend API V2",
    "description": "DeepDEX Decentralized Exchange Backend API - Version 2\n\n## Error Codes\n\n| Range | Category | Description |\n|-------|----------|-------------|\n| 1xxx | Client Errors | Bad request, validation errors |\n| 2xxx | Auth Errors | Authentication issues |\n| 3xxx | Resource Errors | Not found, conflicts |\n| 4xxx | Service Errors | Database, cache errors |\n| 5xxx | Internal Errors | Server errors |\n\n### Common Error Codes\n- **1001** INVALID_PARAMETER - Invalid parameter value\n- **1003** INVALID_ADDRESS - Invalid wallet address\n- **3001** MARKET_NOT_FOUND - Market not found\n- **3002** ORDER_NOT_FOUND - Order not found\n- **4000** DATABASE_ERROR - Database error\n- **5000** INTERNAL_ERROR - Server error",
    "contact": {
      "name": "DeepDEX Team",
      "url": "https://deepdex.finance",
      "email": "support@deepdex.io"
    },
    "license": {
      "name": "MIT"
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://deepdex-api.deepdex.net"
    }
  ],
  "paths": {
    "/v2/account/funding-fee": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get user funding fee history",
        "description": "Query funding fee history for one subaccount.\n\nRequest example:\n`GET /v2/account/funding-fee?user=0xsubaccount&marketId=3&pageNumber=1&pageSize=20`",
        "operationId": "getPerpFundingFee",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "description": "User address",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "0x1234..."
              ]
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Market name (optional if marketId provided)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "ETH-USDC"
              ]
            }
          },
          {
            "name": "marketId",
            "in": "query",
            "description": "Market id (optional if name provided)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "2"
              ]
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp in milliseconds (optional)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "1703980800000"
              ]
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp in milliseconds (optional)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "1704067200000"
              ]
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number (default: 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                1
              ]
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size (default: 20)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                20
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Funding fee records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": {
                    "hasNext": false,
                    "hasPrev": false,
                    "items": [
                      {
                        "createdAt": "2026-03-02T10:00:00Z",
                        "fee": -0.01,
                        "market": 3,
                        "owner": "0xsubaccount"
                      }
                    ],
                    "pageNo": 1,
                    "pageSize": 20,
                    "totalCount": 1,
                    "totalPage": 1
                  },
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          }
        }
      }
    },
    "/v2/account/funding-fee-by-wallet": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get funding fee history by wallet (all subaccounts)",
        "description": "Query funding fee history by wallet, grouped by market/subaccount.\n\nRequest example:\n`GET /v2/account/funding-fee-by-wallet?address=0xwallet&marketId=3&pageNumber=1&pageSize=20`",
        "operationId": "getPerpFundingFeeByWallet",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Wallet address",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "0x1234..."
              ]
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Market name (optional if marketId provided)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "ETH-USDC"
              ]
            }
          },
          {
            "name": "marketId",
            "in": "query",
            "description": "Market id (optional if name provided)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "2"
              ]
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp in milliseconds (optional)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "1703980800000"
              ]
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp in milliseconds (optional)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "1704067200000"
              ]
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number (default: 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                1
              ]
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size (default: 20)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                20
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Funding fee records grouped by market then subaccount",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": [
                    {
                      "marketId": 3,
                      "marketName": "ETH-USDC",
                      "subaccounts": [
                        {
                          "fees": {
                            "hasNext": false,
                            "hasPrev": false,
                            "items": [],
                            "pageNo": 1,
                            "pageSize": 20,
                            "totalCount": 0,
                            "totalPage": 0
                          },
                          "subaccount": "0xsubaccount"
                        }
                      ]
                    }
                  ],
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          }
        }
      }
    },
    "/v2/account/margin-ratio": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get user margin ratio",
        "description": "Get account margin ratio by address.\n\nRequest example:\n`GET /v2/account/margin-ratio?address=0x980dda997141caa099752905d32f4a3fb980a4e3`",
        "operationId": "getMarginRatio",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "User wallet address",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "0x1234567890abcdef..."
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Margin ratio data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": {
                    "address": "0x980dda997141caa099752905d32f4a3fb980a4e3",
                    "marginRatio": 0.42
                  },
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid address (code: 1003)"
          }
        }
      }
    },
    "/v2/account/one-click-trading-accounts": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get one-click trading accounts",
        "description": "Get one-click trading accounts by wallet.\n\nRequest example:\n`GET /v2/account/one-click-trading-accounts?address=0x980dda997141caa099752905d32f4a3fb980a4e3`",
        "operationId": "getOneClickTradingAccounts",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "User wallet address",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "0x1234567890abcdef..."
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One-click trading accounts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": [
                    "0xsubaccount1",
                    "0xsubaccount2"
                  ],
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid address (code: 1003)"
          }
        }
      }
    },
    "/v2/account/perp/history-orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get user perp order history",
        "description": "Query perp historical orders for one subaccount.\n\nRequest example:\n`GET /v2/account/perp/history-orders?user=0xsubaccount&marketId=3&pageNumber=1&pageSize=20`",
        "operationId": "getPerpHistoryOrders",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "description": "User address",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "0x1234..."
              ]
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Market name (optional if marketId provided)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "ETH-USDC"
              ]
            }
          },
          {
            "name": "marketId",
            "in": "query",
            "description": "Market id (optional if name provided)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "2"
              ]
            }
          },
          {
            "name": "latestId",
            "in": "query",
            "description": "Latest id",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "12345"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order: ASC or DESC (default: DESC)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "DESC"
              ]
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number (default: 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                1
              ]
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size (default: 20)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                20
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": {
                    "hasNext": false,
                    "hasPrev": false,
                    "items": [],
                    "pageNo": 1,
                    "pageSize": 20,
                    "totalCount": 0,
                    "totalPage": 0
                  },
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          }
        }
      }
    },
    "/v2/account/perp/open-orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get user perp open orders",
        "description": "Query perp open orders for one subaccount.\n\nRequest example:\n`GET /v2/account/perp/open-orders?user=0xsubaccount&marketId=3&pageNumber=1&pageSize=20`",
        "operationId": "getPerpOpenOrders",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "description": "User address",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "0x1234..."
              ]
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Market name (optional if marketId provided)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "ETH-USDC"
              ]
            }
          },
          {
            "name": "marketId",
            "in": "query",
            "description": "Market id (optional if name provided)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "2"
              ]
            }
          },
          {
            "name": "isLong",
            "in": "query",
            "description": "Position side",
            "required": false,
            "schema": {
              "type": "boolean",
              "examples": [
                true
              ]
            }
          },
          {
            "name": "latestId",
            "in": "query",
            "description": "Latest id",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "12345"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order: ASC or DESC (default: DESC)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "DESC"
              ]
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number (default: 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                1
              ]
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size (default: 20)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                20
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Open orders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": {
                    "hasNext": false,
                    "hasPrev": false,
                    "items": [],
                    "pageNo": 1,
                    "pageSize": 20,
                    "totalCount": 0,
                    "totalPage": 0
                  },
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid address (code: 1003)"
          }
        }
      }
    },
    "/v2/account/perp/order-by-id": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get perp order by ID",
        "description": "Query one perp order by user+oid.\n\nRequest example:\n`GET /v2/account/perp/order-by-id?user=0xsubaccount&marketId=3&oid=12345`",
        "operationId": "getPerpOrderById",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "description": "User address",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "0x1234..."
              ]
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Market name (optional if marketId provided)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "ETH-USDC"
              ]
            }
          },
          {
            "name": "marketId",
            "in": "query",
            "description": "Market id (optional if name provided)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "2"
              ]
            }
          },
          {
            "name": "oid",
            "in": "query",
            "description": "Order ID",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "12345"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": {
                    "id": 12345,
                    "status": "Open"
                  },
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          },
          "404": {
            "description": "Order not found (code: 3002)"
          }
        }
      }
    },
    "/v2/account/perp/order-by-tx": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get perp order by tx hash",
        "description": "Query one perp order by tx hash.\n\nRequest example:\n`GET /v2/account/perp/order-by-tx?txHash=0xabc...`",
        "operationId": "getPerpOrderByTx",
        "parameters": [
          {
            "name": "txHash",
            "in": "query",
            "description": "Transaction hash",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "0xabc..."
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": {
                    "id": 12345,
                    "status": "Open"
                  },
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          },
          "404": {
            "description": "Order not found (code: 3002)"
          }
        }
      }
    },
    "/v2/account/perp/trades": {
      "get": {
        "tags": [
          "Trades"
        ],
        "summary": "Get user perp trades (cursor-based)",
        "description": "Query perp user trades for one subaccount.\n\nRequest example:\n`GET /v2/account/perp/trades?user=0xsubaccount&marketId=3&latestId=12345&pageSize=20`",
        "operationId": "getPerpUserTrades",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "description": "User address",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "0x1234..."
              ]
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Market name (optional if marketId provided)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "ETH-USDC"
              ]
            }
          },
          {
            "name": "marketId",
            "in": "query",
            "description": "Market id (optional if name provided)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "2"
              ]
            }
          },
          {
            "name": "latestId",
            "in": "query",
            "description": "Latest id",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "12345"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order: ASC or DESC (default: DESC)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "DESC"
              ]
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp (ms)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "1703980800000"
              ]
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp (ms)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "1704067200000"
              ]
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size (default: 20)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                20
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User perp trade history (cursor-based via latestId)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": {
                    "hasNext": true,
                    "items": [
                      {
                        "createdAt": "2026-02-04T10:56:39.672858Z",
                        "fee": 0.0001,
                        "filledDirection": "Both",
                        "isLong": true,
                        "leverage": 3,
                        "marketId": 3,
                        "orderId": 77040,
                        "price": 0.00048776,
                        "size": 0.5,
                        "taker": "Buyer"
                      }
                    ],
                    "nextId": 12345
                  },
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          }
        }
      }
    },
    "/v2/account/perp/trades-by-wallet": {
      "get": {
        "tags": [
          "Trades"
        ],
        "summary": "Get perp trades across all subaccounts (grouped by market then subaccount)",
        "description": "Query perp trades by wallet, grouped by market/subaccount.\n\nRequest example:\n`GET /v2/account/perp/trades-by-wallet?address=0xwallet&marketId=3&pageSize=20`",
        "operationId": "getPerpUserTradesByWallet",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Wallet address",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "0x1234..."
              ]
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Market name (optional; omit both name and marketId to return all markets)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "ETH-USDC"
              ]
            }
          },
          {
            "name": "marketId",
            "in": "query",
            "description": "Market id (optional; omit both name and marketId to return all markets)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "2"
              ]
            }
          },
          {
            "name": "latestId",
            "in": "query",
            "description": "Latest id",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "12345"
              ]
            }
          },
          {
            "name": "latestIdMap",
            "in": "query",
            "description": "Latest id map by subaccount (JSON object, exclusive with latestId)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "{\"0xsub1\":123,\"0xsub2\":456}"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order: ASC or DESC (default: DESC)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "DESC"
              ]
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp (ms)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "1703980800000"
              ]
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp (ms)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "1704067200000"
              ]
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size (default: 20)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                20
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Perp trades by wallet (grouped by market then subaccount)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": [
                    {
                      "marketId": 3,
                      "marketName": "ETH-USDC",
                      "subaccounts": [
                        {
                          "subaccount": "0x4a09a0bda255027759d131d2c15ea549f48d0c19",
                          "trades": {
                            "hasNext": true,
                            "items": [
                              {
                                "createdAt": "2026-02-04T10:56:39.672858Z",
                                "fee": 0.0001,
                                "filledDirection": "Both",
                                "isLong": true,
                                "leverage": 3,
                                "marketId": 3,
                                "orderId": 77040,
                                "price": 0.00048776,
                                "size": 0.5,
                                "taker": "Buyer"
                              }
                            ],
                            "nextId": 12345
                          }
                        }
                      ]
                    }
                  ],
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          }
        }
      }
    },
    "/v2/account/position": {
      "get": {
        "tags": [
          "Positions"
        ],
        "summary": "Get user perp positions",
        "description": "Query perp position lifecycle for one subaccount.\n\nRequest example:\n`GET /v2/account/position?user=0xsubaccount&marketId=3&onlyClosed=false&pageNumber=1&pageSize=20`",
        "operationId": "getPerpPositions",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "description": "User address",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "0x1234..."
              ]
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Market name (optional if marketId provided)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "ETH-USDC"
              ]
            }
          },
          {
            "name": "marketId",
            "in": "query",
            "description": "Market id (optional if name provided)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "2"
              ]
            }
          },
          {
            "name": "onlyClosed",
            "in": "query",
            "description": "Only closed positions",
            "required": false,
            "schema": {
              "type": "boolean",
              "examples": [
                false
              ]
            }
          },
          {
            "name": "latestId",
            "in": "query",
            "description": "Latest id for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "10"
              ]
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number (default: 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                1
              ]
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size (default: 20)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                20
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Position list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": {
                    "hasNext": false,
                    "hasPrev": false,
                    "items": [],
                    "pageNo": 1,
                    "pageSize": 20,
                    "totalCount": 0,
                    "totalPage": 0
                  },
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          }
        }
      }
    },
    "/v2/account/spot/history-orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get user spot order history",
        "description": "Query spot historical orders for one subaccount.\n\nRequest example:\n`GET /v2/account/spot/history-orders?user=0xsubaccount&name=ETH/USDC&pageNumber=1&pageSize=20`",
        "operationId": "getSpotHistoryOrders",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Market name (optional if pair provided)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "ETH/USDC"
              ]
            }
          },
          {
            "name": "pair",
            "in": "query",
            "description": "Market pair id (optional if name provided)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "0x7cf219b32b35000e20677b2c149c92b785bd8417c3c0834376a8a1df31734d6a"
              ]
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "User address",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "0x1234..."
              ]
            }
          },
          {
            "name": "orderSide",
            "in": "query",
            "description": "Buy or Sell",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "Buy"
              ]
            }
          },
          {
            "name": "latestId",
            "in": "query",
            "description": "Latest id",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "12345"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order: ASC or DESC (default: DESC)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "DESC"
              ]
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number (default: 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                1
              ]
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size (default: 20)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                20
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": {
                    "hasNext": false,
                    "hasPrev": false,
                    "items": [],
                    "pageNo": 1,
                    "pageSize": 20,
                    "totalCount": 0,
                    "totalPage": 0
                  },
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          }
        }
      }
    },
    "/v2/account/spot/open-orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get user spot open orders",
        "description": "Query spot open orders for one subaccount.\n\nRequest example:\n`GET /v2/account/spot/open-orders?user=0xsubaccount&name=ETH/USDC&pageNumber=1&pageSize=20`",
        "operationId": "getSpotOpenOrders",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Market name (optional if pair provided)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "ETH/USDC"
              ]
            }
          },
          {
            "name": "pair",
            "in": "query",
            "description": "Market pair id (optional if name provided)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "0x7cf219b32b35000e20677b2c149c92b785bd8417c3c0834376a8a1df31734d6a"
              ]
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "User address",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "0x1234..."
              ]
            }
          },
          {
            "name": "orderSide",
            "in": "query",
            "description": "Buy or Sell",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "Buy"
              ]
            }
          },
          {
            "name": "latestId",
            "in": "query",
            "description": "Latest id",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "12345"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order: ASC or DESC (default: DESC)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "DESC"
              ]
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number (default: 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                1
              ]
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size (default: 20)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                20
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Open orders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": {
                    "hasNext": false,
                    "hasPrev": false,
                    "items": [],
                    "pageNo": 1,
                    "pageSize": 20,
                    "totalCount": 0,
                    "totalPage": 0
                  },
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid address (code: 1003)"
          }
        }
      }
    },
    "/v2/account/spot/order-by-id": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get spot order by ID",
        "description": "Query one spot order by user+oid+side.\n\nRequest example:\n`GET /v2/account/spot/order-by-id?user=0xsubaccount&name=ETH/USDC&oid=12345&orderSide=Buy`",
        "operationId": "getSpotOrderById",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Market name (optional if pair provided)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "ETH/USDC"
              ]
            }
          },
          {
            "name": "pair",
            "in": "query",
            "description": "Market pair id (optional if name provided)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "0x7cf219b32b35000e20677b2c149c92b785bd8417c3c0834376a8a1df31734d6a"
              ]
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "User address",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "0x1234..."
              ]
            }
          },
          {
            "name": "oid",
            "in": "query",
            "description": "Order ID",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "12345"
              ]
            }
          },
          {
            "name": "orderSide",
            "in": "query",
            "description": "Buy or Sell",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "Buy"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": {
                    "id": 12345,
                    "status": "Open"
                  },
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          },
          "404": {
            "description": "Order not found (code: 3002)"
          }
        }
      }
    },
    "/v2/account/spot/order-by-tx": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get spot order by tx hash",
        "description": "Query one spot order by tx hash.\n\nRequest example:\n`GET /v2/account/spot/order-by-tx?txHash=0xabc...`",
        "operationId": "getSpotOrderByTx",
        "parameters": [
          {
            "name": "txHash",
            "in": "query",
            "description": "Transaction hash",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "0xabc..."
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": {
                    "id": 12345,
                    "status": "Open"
                  },
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          },
          "404": {
            "description": "Order not found (code: 3002)"
          }
        }
      }
    },
    "/v2/account/spot/trades": {
      "get": {
        "tags": [
          "Trades"
        ],
        "summary": "Get user spot trades (cursor-based)",
        "description": "Query spot user trades for one subaccount.\n\nRequest example:\n`GET /v2/account/spot/trades?user=0xsubaccount&name=ETH/USDC&latestId=12345&pageSize=20`",
        "operationId": "getSpotUserTrades",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Market name (optional if pair provided)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "ETH/USDC"
              ]
            }
          },
          {
            "name": "pair",
            "in": "query",
            "description": "Market pair id (optional if name provided)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "0x7cf219b32b35000e20677b2c149c92b785bd8417c3c0834376a8a1df31734d6a"
              ]
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "User address",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "0x1234..."
              ]
            }
          },
          {
            "name": "latestId",
            "in": "query",
            "description": "Latest id",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "12345"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order: ASC or DESC (default: DESC)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "DESC"
              ]
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp (ms)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "1703980800000"
              ]
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp (ms)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "1704067200000"
              ]
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size (default: 20)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                20
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User spot trade history (cursor-based via latestId)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": [
                    {
                      "subaccount": "0x4a09a0bda255027759d131d2c15ea549f48d0c19",
                      "trades": {
                        "hasNext": true,
                        "items": [
                          {
                            "baseAmount": 0.5,
                            "createdAt": "2026-02-04T10:56:39.672858Z",
                            "fee": 0.001,
                            "orderId": "87563",
                            "orderSide": "Sell",
                            "pair": "0x7cf219b32b35000e20677b2c149c92b785bd8417c3c0834376a8a1df31734d6a",
                            "pairName": "ETH/USDC",
                            "price": 123.45,
                            "quoteAmount": 61.725,
                            "taker": "Buyer"
                          }
                        ],
                        "nextId": 12345
                      }
                    }
                  ],
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          }
        }
      }
    },
    "/v2/account/spot/trades-by-wallet": {
      "get": {
        "tags": [
          "Trades"
        ],
        "summary": "Get spot trades across all subaccounts (grouped by market then subaccount)",
        "description": "Query spot trades by wallet, grouped by market/subaccount.\n\nRequest example:\n`GET /v2/account/spot/trades-by-wallet?address=0xwallet&name=ETH/USDC&pageSize=20`",
        "operationId": "getSpotUserTradesByWallet",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Market name (optional; omit both name and pair to return all markets)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "ETH/USDC"
              ]
            }
          },
          {
            "name": "pair",
            "in": "query",
            "description": "Market pair id (optional; omit both name and pair to return all markets)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "0x7cf219b32b35000e20677b2c149c92b785bd8417c3c0834376a8a1df31734d6a"
              ]
            }
          },
          {
            "name": "address",
            "in": "query",
            "description": "Wallet address",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "0x1234..."
              ]
            }
          },
          {
            "name": "latestId",
            "in": "query",
            "description": "Latest id",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "12345"
              ]
            }
          },
          {
            "name": "latestIdMap",
            "in": "query",
            "description": "Latest id map by subaccount (JSON object, exclusive with latestId)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "{\"0xsub1\":123,\"0xsub2\":456}"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order: ASC or DESC (default: DESC)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "DESC"
              ]
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp (ms)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "1703980800000"
              ]
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp (ms)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "1704067200000"
              ]
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size (default: 20)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                20
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Spot trades by wallet (grouped by market then subaccount)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": [
                    {
                      "name": "ETH/USDC",
                      "pair": "0x7cf219b32b35000e20677b2c149c92b785bd8417c3c0834376a8a1df31734d6a",
                      "subaccounts": [
                        {
                          "subaccount": "0x4a09a0bda255027759d131d2c15ea549f48d0c19",
                          "trades": {
                            "hasNext": true,
                            "items": [
                              {
                                "baseAmount": 0.5,
                                "createdAt": "2026-02-04T10:56:39.672858Z",
                                "fee": 0.001,
                                "orderId": "87563",
                                "orderSide": "Sell",
                                "pair": "0x7cf219b32b35000e20677b2c149c92b785bd8417c3c0834376a8a1df31734d6a",
                                "pairName": "ETH/USDC",
                                "price": 123.45,
                                "quoteAmount": 61.725,
                                "taker": "Buyer"
                              }
                            ],
                            "nextId": 12345
                          }
                        }
                      ]
                    }
                  ],
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          }
        }
      }
    },
    "/v2/account/subaccount-info": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get subaccount info",
        "description": "Get one subaccount profile by address.\n\nRequest example:\n`GET /v2/account/subaccount-info?address=0x980dda997141caa099752905d32f4a3fb980a4e3`",
        "operationId": "getSubaccountInfo",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Subaccount address",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "0x980dda997141caa099752905d32f4a3fb980a4e3"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subaccount info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": {
                    "name": "main",
                    "owner": "0xowner",
                    "subaccount": "0x980dda997141caa099752905d32f4a3fb980a4e3"
                  },
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid address (code: 1003)"
          }
        }
      }
    },
    "/v2/account/subaccounts": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get user subaccounts",
        "description": "Get subaccounts by wallet address.\n\nRequest example:\n`GET /v2/account/subaccounts?address=0x980dda997141caa099752905d32f4a3fb980a4e3`",
        "operationId": "getSubaccounts",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "User wallet address",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "0x1234567890abcdef..."
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of subaccounts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": [
                    "0xsubaccount1",
                    "0xsubaccount2"
                  ],
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid address (code: 1003)"
          }
        }
      }
    },
    "/v2/account/subaccounts/all": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get all subaccounts (paginated)",
        "description": "List all subaccounts with pagination.\n\nRequest example:\n`GET /v2/account/subaccounts/all?pageNumber=1&pageSize=20`",
        "operationId": "getAllSubaccounts",
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number (default: 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                1
              ]
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size (default: 20)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                20
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated subaccount records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": {
                    "hasNext": false,
                    "hasPrev": false,
                    "items": [
                      {
                        "name": "main",
                        "owner": "0xowner",
                        "subaccount": "0xsubaccount"
                      }
                    ],
                    "pageNo": 1,
                    "pageSize": 20,
                    "totalCount": 1,
                    "totalPage": 1
                  },
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid pageNumber/pageSize (code: 1001)"
          }
        }
      }
    },
    "/v2/account/user-stats": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get user stats",
        "description": "Get aggregated user statistics.\n\nRequest example:\n`GET /v2/account/user-stats?address=0x980dda997141caa099752905d32f4a3fb980a4e3`",
        "operationId": "getUserStats",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "User wallet address",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "0x1234567890abcdef..."
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User stats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": {
                    "address": "0x980dda997141caa099752905d32f4a3fb980a4e3",
                    "pnl": 34.56,
                    "tradeCount": 120
                  },
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid address (code: 1003)"
          }
        }
      }
    },
    "/v2/chain/tx/transact": {
      "post": {
        "tags": [
          "Chain"
        ],
        "summary": "on-chain relayer",
        "description": "Submit a signed EVM transaction to chain and parse order id from on-chain events.\n\nSupported `marketType` values:\n- `Perp`\n- `Spot`\n\nSupported `action` values:\n- `PlaceOrder`\n- `CancelOrder`\n- `ClosePosition`\n\nSupported combinations:\n- `Perp + PlaceOrder`\n- `Perp + CancelOrder`\n- `Perp + ClosePosition`\n- `Spot + PlaceOrder`\n- `Spot + CancelOrder`\n\nNot supported:\n- `Spot + ClosePosition`\n\nRequest example:\n`POST /v2/chain/tx/transact`",
        "operationId": "transact",
        "requestBody": {
          "description": "Signed transaction payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactParams"
              },
              "example": {
                "action": "PlaceOrder",
                "marketType": "Perp",
                "signedTx": "0x02f8...",
                "signer": "0x1b1dbf03c61bf660cd60c5ff7a117e294f2b3dda"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Transaction submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": {
                    "order_id": "77040"
                  },
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          }
        }
      }
    },
    "/v2/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health check",
        "description": "Service health endpoint.\n\nRequest example:\n`GET /v2/health`",
        "operationId": "healthCheck",
        "responses": {
          "200": {
            "description": "Server is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": "ok",
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          }
        }
      }
    },
    "/v2/insurance-vault/reward-added": {
      "get": {
        "tags": [
          "Insurance Vault"
        ],
        "summary": "Get last 24h reward added",
        "description": "Get insurance reward-added summary in last 24h.\n\nRequest example:\n`GET /v2/insurance-vault/reward-added`",
        "operationId": "getInsuranceRewardAdded",
        "responses": {
          "200": {
            "description": "Reward added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": [
                    {
                      "detail": [],
                      "marketId": 2,
                      "totalAmount": 7444.27055999997
                    }
                  ],
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          }
        }
      }
    },
    "/v2/invitation/bind-invitation-code": {
      "post": {
        "tags": [
          "Invitation"
        ],
        "summary": "Bind invitation code",
        "description": "Bind one invitation code to a wallet address.\n\nRequest example:\n`POST /v2/invitation/bind-invitation-code`",
        "operationId": "bindInvitationCode",
        "requestBody": {
          "description": "Bind invitation code payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BindInvitationCodeRequest"
              },
              "example": {
                "address": "0x980dda997141caa099752905d32f4a3fb980a4e3",
                "code": "ABCDE12345",
                "message": "bind invitation code",
                "signature": "0x..."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Bound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": {
                    "address": "0x980dda997141caa099752905d32f4a3fb980a4e3",
                    "code": "ABCDE12345",
                    "message": "bound"
                  },
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          }
        }
      }
    },
    "/v2/invitation/check": {
      "get": {
        "tags": [
          "Invitation"
        ],
        "summary": "Check invitation status",
        "description": "Check invitation status by wallet address.\n\nRequest example:\n`GET /v2/invitation/check?address=0x980dda997141caa099752905d32f4a3fb980a4e3`",
        "operationId": "checkInvitation",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "User wallet address",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "0x980dda997141caa099752905d32f4a3fb980a4e3"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": {
                    "address": "0x980dda997141caa099752905d32f4a3fb980a4e3",
                    "isBound": true
                  },
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          }
        }
      }
    },
    "/v2/invitation/create-invitation-code": {
      "post": {
        "tags": [
          "Invitation"
        ],
        "summary": "Create invitation code",
        "description": "Create a new invitation code.\n\nRequest example:\n`POST /v2/invitation/create-invitation-code`",
        "operationId": "createInvitationCode",
        "requestBody": {
          "description": "Create invitation code payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInvitationCodeRequest"
              },
              "example": {
                "comment": "campaign-2026-q1",
                "token": "admin-token"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": {
                    "code": "ABCDE12345",
                    "message": "success"
                  },
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          }
        }
      }
    },
    "/v2/invitation/invitation-code": {
      "get": {
        "tags": [
          "Invitation"
        ],
        "summary": "Get invitation code",
        "description": "Get invitation code list by wallet address.\n\nRequest example:\n`GET /v2/invitation/invitation-code?address=0x980dda997141caa099752905d32f4a3fb980a4e3`",
        "operationId": "getInvitationCode",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "User wallet address",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "0x980dda997141caa099752905d32f4a3fb980a4e3"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Code info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": [
                    "ABCDE12345",
                    "QWER98765"
                  ],
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          }
        }
      }
    },
    "/v2/market/lending/assets": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get lending assets",
        "description": "Return lending pool asset mappings (market_id + asset).\n\nRequest example:\n`GET /v2/market/lending/assets`",
        "operationId": "getLendingAssets",
        "responses": {
          "200": {
            "description": "List of lending pool assets (market_id, asset, height, created_at)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": [
                    {
                      "asset": "USDC",
                      "createdAt": "2026-03-02T00:00:00Z",
                      "height": 15000000,
                      "marketId": 1
                    }
                  ],
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          }
        }
      }
    },
    "/v2/market/perp/candles": {
      "get": {
        "tags": [
          "Perp Markets"
        ],
        "summary": "Get perp candlestick data",
        "description": "Query perp candles by time range.\n\nRequest example:\n`GET /v2/market/perp/candles?marketId=3&timeFrame=1m&start=1703980800000&limit=100`",
        "operationId": "getPerpCandles",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Market name (optional if marketId provided)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "ETH-USDC"
              ]
            }
          },
          {
            "name": "marketId",
            "in": "query",
            "description": "Market id (optional if name provided)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "2"
              ]
            }
          },
          {
            "name": "timeFrame",
            "in": "query",
            "description": "Candlestick interval string: 1m, 3m, 5m, 15m, 30m, 1h, 2h, 4h, 8h, 12h, 1d, 3d, 1w, 1M",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "1m"
              ]
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp in milliseconds",
            "required": true,
            "schema": {
              "type": "integer",
              "examples": [
                1703980800000
              ]
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp (ms)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "1704067200000"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max candles (1-5000)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "100"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order: ASC or DESC (default: DESC)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "DESC"
              ]
            }
          },
          {
            "name": "tradeView",
            "in": "query",
            "description": "TradingView format",
            "required": false,
            "schema": {
              "type": "boolean",
              "examples": [
                false
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Candlestick data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": [
                    {
                      "closePrice": 3210.5,
                      "highPrice": 3220.0,
                      "lowPrice": 3198.8,
                      "openPrice": 3200.1,
                      "statisticTime": "2026-03-02T10:00:00Z",
                      "tradeAmount": 12.34
                    }
                  ],
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameter (code: 1001)"
          },
          "404": {
            "description": "Market not found (code: 3001)"
          }
        }
      }
    },
    "/v2/market/perp/check-order": {
      "get": {
        "tags": [
          "Perp Markets"
        ],
        "summary": "Check perp order by hash",
        "description": "Check whether a perp order tx hash exists.\n\nRequest example:\n`GET /v2/market/perp/check-order?hash=0x556b0bd116f76cc7aff51b1f48bc9012a1f3dc133a8d9eb497c6a958e127506b`",
        "operationId": "checkPerpOrderHash",
        "parameters": [
          {
            "name": "hash",
            "in": "query",
            "description": "Order hash",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "0x556b0bd116f76cc7aff51b1f48bc9012a1f3dc133a8d9eb497c6a958e127506b"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order existence result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": [
                    {
                      "hash": "0x556b0bd116f76cc7aff51b1f48bc9012a1f3dc133a8d9eb497c6a958e127506b",
                      "result": true
                    }
                  ],
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          }
        }
      }
    },
    "/v2/market/perp/last_price": {
      "get": {
        "tags": [
          "Perp Markets"
        ],
        "summary": "Get perp last price",
        "description": "Query perp last traded price.\n\nRequest example:\n`GET /v2/market/perp/last_price?marketId=3`",
        "operationId": "getPerpLastPrice",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Market name (optional if marketId provided)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "ETH-USDC"
              ]
            }
          },
          {
            "name": "marketId",
            "in": "query",
            "description": "Market id (optional if name provided)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "2"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Last trade price for the specified perp market",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": 3210.5,
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          }
        }
      }
    },
    "/v2/market/perp/mark_price": {
      "get": {
        "tags": [
          "Perp Markets"
        ],
        "summary": "Get perp mark price history",
        "description": "Query perp mark price history.\n\nRequest example:\n`GET /v2/market/perp/mark_price?marketId=3&timeFrame=1m&start=1703980800000&limit=100`",
        "operationId": "getPerpMarkPriceHistory",
        "parameters": [
          {
            "name": "marketId",
            "in": "query",
            "description": "Market id (optional if symbol provided)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "2"
              ]
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "description": "Base symbol (optional if marketId provided)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "ETH"
              ]
            }
          },
          {
            "name": "timeFrame",
            "in": "query",
            "description": "Candlestick interval string: 1m, 3m, 5m, 15m, 30m, 1h, 2h, 4h, 8h, 12h, 1d, 3d, 1w, 1M",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "1m"
              ]
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp in milliseconds",
            "required": true,
            "schema": {
              "type": "integer",
              "examples": [
                1703980800000
              ]
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp (ms)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "1704067200000"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max items (1-5000)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "100"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order: ASC or DESC (default: DESC)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "DESC"
              ]
            }
          },
          {
            "name": "tradeView",
            "in": "query",
            "description": "TradingView format",
            "required": false,
            "schema": {
              "type": "boolean",
              "examples": [
                false
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mark price history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": [
                    {
                      "createdAt": "2026-03-02T10:00:00Z",
                      "price": 3209.8
                    }
                  ],
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameter (code: 1001)"
          },
          "404": {
            "description": "Market not found (code: 3001)"
          }
        }
      }
    },
    "/v2/market/perp/market-by-id": {
      "get": {
        "tags": [
          "Perp Markets"
        ],
        "summary": "Get perp market by id",
        "description": "Query a specific perp market by `marketId`.\n\nRequest example:\n`GET /v2/market/perp/market-by-id?marketId=3`",
        "operationId": "getPerpMarketById",
        "parameters": [
          {
            "name": "marketId",
            "in": "query",
            "description": "Market id",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "2"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": {
                    "baseSymbol": "ETH",
                    "id": 3,
                    "name": "ETH-USDC",
                    "quoteSymbol": "USDC"
                  },
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          },
          "404": {
            "description": "Market not found (code: 3001)"
          }
        }
      }
    },
    "/v2/market/perp/market-by-name": {
      "get": {
        "tags": [
          "Perp Markets"
        ],
        "summary": "Get perp market by name",
        "description": "Query a specific perp market by `name`.\n\nRequest example:\n`GET /v2/market/perp/market-by-name?name=ETH-USDC`",
        "operationId": "getPerpMarketByName",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Market name",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "ETH-USDC"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": {
                    "baseSymbol": "ETH",
                    "id": 3,
                    "name": "ETH-USDC",
                    "quoteSymbol": "USDC"
                  },
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          },
          "404": {
            "description": "Market not found (code: 3001)"
          }
        }
      }
    },
    "/v2/market/perp/markets": {
      "get": {
        "tags": [
          "Perp Markets"
        ],
        "summary": "Get all perp markets",
        "description": "Returns all perpetual markets.\n\nRequest example:\n`GET /v2/market/perp/markets`",
        "operationId": "getPerpMarkets",
        "responses": {
          "200": {
            "description": "List of perp markets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": [
                    {
                      "baseSymbol": "ETH",
                      "id": 3,
                      "name": "ETH-USDC",
                      "quoteSymbol": "USDC"
                    }
                  ],
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          }
        }
      }
    },
    "/v2/market/perp/oracle_price": {
      "get": {
        "tags": [
          "Perp Markets"
        ],
        "summary": "Get perp oracle price history",
        "description": "Query perp oracle price history.\n\nRequest example:\n`GET /v2/market/perp/oracle_price?marketId=3&timeFrame=1m&start=1703980800000&limit=100`",
        "operationId": "getPerpOraclePriceHistory",
        "parameters": [
          {
            "name": "marketId",
            "in": "query",
            "description": "Market id (optional if symbol provided)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "2"
              ]
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "description": "Base symbol (optional if marketId provided)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "ETH"
              ]
            }
          },
          {
            "name": "timeFrame",
            "in": "query",
            "description": "Candlestick interval string: 1m, 3m, 5m, 15m, 30m, 1h, 2h, 4h, 8h, 12h, 1d, 3d, 1w, 1M",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "1m"
              ]
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timestamp in milliseconds",
            "required": true,
            "schema": {
              "type": "integer",
              "examples": [
                1703980800000
              ]
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timestamp (ms)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "1704067200000"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max items (1-5000)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "100"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order: ASC or DESC (default: DESC)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "DESC"
              ]
            }
          },
          {
            "name": "tradeView",
            "in": "query",
            "description": "TradingView format",
            "required": false,
            "schema": {
              "type": "boolean",
              "examples": [
                false
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Oracle price history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": [
                    {
                      "createdAt": "2026-03-02T10:00:00Z",
                      "price": 3210.5
                    }
                  ],
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameter (code: 1001)"
          },
          "404": {
            "description": "Market not found (code: 3001)"
          }
        }
      }
    },
    "/v2/market/perp/order-books": {
      "get": {
        "tags": [
          "Perp Markets"
        ],
        "summary": "Get perp order book",
        "description": "Get perp orderbook with optional aggregation.\n\nRequest example:\n`GET /v2/market/perp/order-books?marketId=3&tickSize=0.1`",
        "operationId": "getPerpOrderBook",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Market name (optional; omit with marketId to return all markets)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "ETH-USDC"
              ]
            }
          },
          {
            "name": "marketId",
            "in": "query",
            "description": "Market id (optional; omit with name to return all markets)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "2"
              ]
            }
          },
          {
            "name": "tickSize",
            "in": "query",
            "description": "Price aggregation tick size",
            "required": false,
            "schema": {
              "type": "number",
              "examples": [
                "0.01"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order book data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": {
                    "latestPrice": 3210.5,
                    "marketId": 3,
                    "orderBuyList": [],
                    "orderSellList": []
                  },
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          },
          "404": {
            "description": "Market not found (code: 3001)"
          }
        }
      }
    },
    "/v2/market/perp/trades": {
      "get": {
        "tags": [
          "Perp Markets"
        ],
        "summary": "Get perp market trades (raw, cursor-based)",
        "description": "Query raw perp trade history.\n\nRequest example:\n`GET /v2/market/perp/trades?marketId=3&latestId=1000&pageSize=20&sort=DESC`",
        "operationId": "getPerpMarketTrades",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Market name (optional if marketId provided)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "ETH-USDC"
              ]
            }
          },
          {
            "name": "marketId",
            "in": "query",
            "description": "Market id (optional if name provided)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "2"
              ]
            }
          },
          {
            "name": "latestId",
            "in": "query",
            "description": "Latest trade id for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "1000"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order: ASC or DESC (default: DESC)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "DESC"
              ]
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size (default: 20)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                20
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Raw trade history (perp_trade_history rows, no side split). Cursor-based pagination via latestId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": {
                    "hasNext": true,
                    "items": [
                      {
                        "buyer": "0x1b1dbf03c61bf660cd60c5ff7a117e294f2b3dda",
                        "buyerLeverage": 3,
                        "buyerOrderId": 77040,
                        "createdAt": "2026-02-04T10:56:39.672858Z",
                        "filledDirection": "Both",
                        "id": 12345,
                        "makerFee": 0.00005,
                        "marketId": 3,
                        "price": 0.00048776,
                        "seller": "0xbc51cc0ea3a001c15088775c2de9e19f63606310",
                        "sellerLeverage": 4,
                        "sellerOrderId": 87563,
                        "size": 0.5,
                        "taker": "Buyer",
                        "takerFee": 0.0001
                      }
                    ],
                    "nextId": 12345
                  },
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          }
        }
      }
    },
    "/v2/market/perp/volume": {
      "get": {
        "tags": [
          "Perp Markets"
        ],
        "summary": "Get perp market volume",
        "description": "Query perp volume statistics by period.\n\nRequest example:\n`GET /v2/market/perp/volume?marketId=3&period=24h`",
        "operationId": "getPerpVolume",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Market name (optional if marketId provided)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "ETH-USDC"
              ]
            }
          },
          {
            "name": "marketId",
            "in": "query",
            "description": "Market id (optional if name provided)",
            "required": false,
            "schema": {
              "type": "integer",
              "examples": [
                "2"
              ]
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "Time period: 1h, 24h, 7d, or 30d",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "24h"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Volume statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResult"
                },
                "example": {
                  "code": 200,
                  "data": {
                    "volume1h": 12345.67,
                    "volume24h": 345678.9
                  },
                  "fail": false,
                  "msg": "success"
                }
              }
            }
          }
        }
      }
    },
    "/v2/market/spot/candles": {
      "get": {
        "tags": [
          "Spot Markets"
        ],
        "summary": "Get spot candlestick data",
        "description": "Query spot candles by time range.\n\nRequest example:\n`GET /v2/market/spot/candles?name=ETH/USDC&timeFrame=1m&start=1703980800000&limit=100`",
        "operationId": "getSpotCandles",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Market name (optional if pair provided)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "ETH/USDC"
              ]
            }
          },
          {
            "name": "pair",
            "in": "query",
            "description": "Market pair id (optional if name provided)",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "0x7cf219b32b35000e20677b2c149c92b785bd8417c3c0834376a8a1df31734d6a"
              ]
            }
          },
          {
            "name": "timeFrame",
            "in": "query",
            "description": "Candlestick interval string: 1m, 3m, 5m, 15m, 30m, 1h, 2h, 4h, 8h, 12h, 1d, 3d, 1w, 1M",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "1m"
[...]
