{
  "openapi": "3.2.0",
  "info": {
    "title": "DeepX API",
    "version": "1.1.0",
    "description": "DeepX Public API V1.\n\n## Changelog\n\n**v1.0.0 (2026-03-24)**\n\n- Initial release\n\n## General API Information\n\n- **Time Format**: All timestamps are in milliseconds (ms) by default. \n- **Data Order**: Data is returned in chronological order, unless noted otherwise. Here is how the `startTime` and `endTime` parameters work:\n  * Without `startTime` or `endTime`, returns the most recent items up to the `limit`.\n  * With `startTime`, returns oldest items from `startTime` up to the `limit`.\n  * With `endTime`, returns most recent items up to `endTime` and the `limit`.\n  * With both, behaves like `startTime` but does not exceed `endTime`.\n- **Pagination**: Historical data is paginated using `cursor` and `limit`. All paginated responses include `nextCursor` and `hasNext` metadata:\n  * `nextCursor`: The ID of the oldest record in the current page. Pass this as `cursor` in the next request to fetch the next (older) page. `null` when there are no more records.\n  * `hasNext`: `true` if more records are available beyond the current page. Stop paginating when `hasNext` is `false` (equivalent to the returned array length being `< limit`).\n  * When combining with `startTime`/`endTime`, all three filters apply together:\n    - With `cursor` and `endTime`, returns items after `cursor` and before `endTime` up to the `limit`.\n    - With `cursor` and `startTime`, returns items after `cursor` and after `startTime` up to the `limit`.\n    - With `cursor`, `startTime`, and `endTime`, returns items after `cursor` and between `startTime` and `endTime` up to the `limit`.\n  * When `cursor` points to a record earlier than `startTime`, all candidate records fall before the time window. The response returns an empty `items` array with `nextCursor: null` and `hasNext: false`.\n",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://fa1356g-api.deepx.fi/v1",
      "description": "Devnet Server"
    }
  ],
  "tags": [
    {
      "name": "System",
      "description": "Connectivity, server health, and server time."
    },
    {
      "name": "Spot Markets",
      "description": "Public market data for Spot pairs (tickers, depth, trades)."
    },
    {
      "name": "Perp Markets",
      "description": "Public market data for Perpetual contracts (tickers, funding rates, etc.)."
    },
    {
      "name": "Account",
      "description": "Account data (wallets, subaccounts, orders, trades, positions)."
    },
    {
      "name": "Lending Markets",
      "description": "Lending and borrowing market parameters and real-time data."
    }
  ],
  "paths": {
    "/v1/ping": {
      "get": {
        "tags": [
          "System"
        ],
        "security": [],
        "summary": "Test Connectivity",
        "description": "Test connectivity to the REST API.",
        "operationId": "ping",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Empty response body"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The client breached the designated rate limit weight.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 42901,
                  "msg": "Rate limit exceeded. Please wait 5 seconds before retrying."
                }
              }
            }
          }
        }
      }
    },
    "/v1/time": {
      "get": {
        "tags": [
          "System"
        ],
        "security": [],
        "summary": "Get Server Time",
        "description": "Returns the current server time.",
        "operationId": "getServerTime",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "serverTime"
                  ],
                  "properties": {
                    "serverTime": {
                      "type": "integer",
                      "format": "int64",
                      "minimum": 1000000000000,
                      "maximum": 4102444800000,
                      "description": "A Unix timestamp in milliseconds.",
                      "example": 1678886400000
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The client breached the designated rate limit weight.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 42901,
                  "msg": "Rate limit exceeded. Please wait 5 seconds before retrying."
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/wallets/{address}/subaccounts": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "List Wallet Subaccounts",
        "security": [],
        "description": "Retrieves a list of subaccount addresses associated with a primary wallet address.",
        "operationId": "getAccountSubaccounts",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Primary wallet address.",
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "description": "An Ethereum-compatible address in 0x-prefixed hex format (20 bytes).",
              "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of subaccount addresses.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "pattern": "^0x[a-fA-F0-9]{40}$",
                    "description": "An Ethereum-compatible address in 0x-prefixed hex format (20 bytes).",
                    "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request failed structural validation or business logic.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 40001,
                  "msg": "Invalid parameter: 'limit' cannot exceed 1000.",
                  "param": "limit"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The client breached the designated rate limit weight.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 42901,
                  "msg": "Rate limit exceeded. Please wait 5 seconds before retrying."
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/wallets/{address}/one-click-trading-accounts": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "List One-Click Trading Accounts",
        "security": [],
        "description": "Retrieves a list of session-key (One-Click Trading) accounts linked to a primary wallet address.",
        "operationId": "getOneClickTradingAccounts",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Primary wallet address.",
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "description": "An Ethereum-compatible address in 0x-prefixed hex format (20 bytes).",
              "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of session-key account addresses.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "pattern": "^0x[a-fA-F0-9]{40}$",
                    "description": "An Ethereum-compatible address in 0x-prefixed hex format (20 bytes).",
                    "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request failed structural validation or business logic.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 40001,
                  "msg": "Invalid parameter: 'limit' cannot exceed 1000.",
                  "param": "limit"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The client breached the designated rate limit weight.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 42901,
                  "msg": "Rate limit exceeded. Please wait 5 seconds before retrying."
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/subaccounts/{address}/info": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Subaccount Info",
        "security": [],
        "description": "Retrieves profile information (owner, name) for a specific subaccount address.",
        "operationId": "getSubaccountInfo",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The specific subaccount address.",
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "description": "An Ethereum-compatible address in 0x-prefixed hex format (20 bytes).",
              "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The subaccount profile information.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Profile information for a specific subaccount.",
                  "required": [
                    "subaccount",
                    "owner",
                    "name"
                  ],
                  "properties": {
                    "subaccount": {
                      "description": "The subaccount wallet address.",
                      "type": "string",
                      "pattern": "^0x[a-fA-F0-9]{40}$",
                      "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
                    },
                    "owner": {
                      "description": "The primary wallet address that owns this subaccount.",
                      "type": "string",
                      "pattern": "^0x[a-fA-F0-9]{40}$",
                      "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
                    },
                    "name": {
                      "type": "string",
                      "description": "Human-readable name of the subaccount (e.g. \"main\").",
                      "example": "main"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request failed structural validation or business logic.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 40001,
                  "msg": "Invalid parameter: 'limit' cannot exceed 1000.",
                  "param": "limit"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 40401,
                  "msg": "Market symbol does not exist.",
                  "param": "symbol"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The client breached the designated rate limit weight.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 42901,
                  "msg": "Rate limit exceeded. Please wait 5 seconds before retrying."
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/subaccounts/{address}/portfolio": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Subaccount Portfolio",
        "security": [],
        "description": "Retrieves a unified portfolio summary for a subaccount, including net account value, deposit/borrow totals, collateral, and risk metrics.",
        "operationId": "getSubaccountPortfolio",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The specific subaccount address.",
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "description": "An Ethereum-compatible address in 0x-prefixed hex format (20 bytes).",
              "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The subaccount's portfolio summary.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "A unified portfolio summary for a subaccount. Includes net account value, total deposit/borrow values, and other risk metrics including Unified Maintenance Margin Ratio (uniMMR).\n",
                  "required": [
                    "subaccount",
                    "equity",
                    "totalDepositsUsd",
                    "totalBorrowsUsd",
                    "totalCollateral",
                    "maintenanceMarginReq",
                    "uniMMR",
                    "time"
                  ],
                  "properties": {
                    "subaccount": {
                      "description": "The subaccount address this portfolio summary belongs to.",
                      "type": "string",
                      "pattern": "^0x[a-fA-F0-9]{40}$",
                      "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
                    },
                    "equity": {
                      "type": "string",
                      "format": "decimal",
                      "description": "Net account value in USD. Calculated as total deposits minus total borrows minus accrued borrow interest, plus unrealized PnL across all open positions and unsettled funding payments.\n",
                      "example": "799.80"
                    },
                    "totalDepositsUsd": {
                      "type": "string",
                      "format": "decimal",
                      "description": "Total USD value of all assets deposited in the subaccount.",
                      "example": "799.80"
                    },
                    "totalBorrowsUsd": {
                      "type": "string",
                      "format": "decimal",
                      "description": "Total USD value of all borrowed assets.",
                      "example": "0"
                    },
                    "totalCollateral": {
                      "type": "string",
                      "format": "decimal",
                      "description": "Total risk-weighted collateral value. Equals the sum of all Maintenance Asset Values (MAV) plus unrealized PnL and unsettled funding payments.\n",
                      "example": "800.19"
                    },
                    "maintenanceMarginReq": {
                      "type": "string",
                      "format": "decimal",
                      "description": "Maintenance Margin Requirement (MMReq). The minimum collateral the account must maintain across all open positions to avoid liquidation.\n",
                      "example": "0.41"
                    },
                    "uniMMR": {
                      "type": "string",
                      "format": "decimal",
                      "description": "Unified Maintenance Margin Ratio. Calculated as `totalCollateral / maintenanceMarginReq`. When this falls below `1`, the account is subject to liquidation.\n",
                      "example": "1964.81"
                    },
                    "time": {
                      "description": "Snapshot timestamp in milliseconds.",
                      "type": "integer",
                      "format": "int64",
                      "minimum": 1000000000000,
                      "maximum": 4102444800000,
                      "example": 1678886400000
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request failed structural validation or business logic.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 40001,
                  "msg": "Invalid parameter: 'limit' cannot exceed 1000.",
                  "param": "limit"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 40401,
                  "msg": "Market symbol does not exist.",
                  "param": "symbol"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The client breached the designated rate limit weight.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 42901,
                  "msg": "Rate limit exceeded. Please wait 5 seconds before retrying."
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/subaccounts/{address}/stats/margin-ratio": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Subaccount Margin Ratio",
        "security": [],
        "description": "Retrieves the Unified Maintenance Margin Ratio (uniMMR) for a specific subaccount. This ratio represents the subaccount's health by comparing Total Collateral Value to  the Maintenance Margin Requirement.\n",
        "operationId": "getSubaccountMarginRatio",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The specific subaccount address.",
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "description": "An Ethereum-compatible address in 0x-prefixed hex format (20 bytes).",
              "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The subaccount's margin ratio stats.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "uniMMR"
                  ],
                  "properties": {
                    "uniMMR": {
                      "type": "string",
                      "format": "decimal",
                      "description": "Unified Maintenance Margin Ratio (Collateral Ratio).",
                      "example": "1.42"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request failed structural validation or business logic.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 40001,
                  "msg": "Invalid parameter: 'limit' cannot exceed 1000.",
                  "param": "limit"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 40401,
                  "msg": "Market symbol does not exist.",
                  "param": "symbol"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The client breached the designated rate limit weight.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 42901,
                  "msg": "Rate limit exceeded. Please wait 5 seconds before retrying."
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/subaccounts/{address}/perp/positions": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Subaccount Open Positions",
        "security": [],
        "description": "Retrieves the current active perpetual positions for a specific subaccount.",
        "operationId": "getPerpPositions",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The specific subaccount address.",
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "description": "An Ethereum-compatible address in 0x-prefixed hex format (20 bytes).",
              "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "Filter by perpetual market symbol. If omitted, results are returned for all symbols.",
            "schema": {
              "type": "string",
              "description": "A perpetual market symbol.",
              "enum": [
                "BTC-USDC",
                "ETH-USDC",
                "SOL-USDC"
              ],
              "example": "BTC-USDC"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of active perpetual positions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "description": "An active perpetual position snapshot.",
                    "required": [
                      "symbol",
                      "subaccount",
                      "side",
                      "qty",
                      "entryPrice",
                      "leverage",
                      "liquidationPrice",
                      "unrealizedPnl",
                      "time"
                    ],
                    "properties": {
                      "symbol": {
                        "type": "string",
                        "description": "A perpetual market symbol.",
                        "enum": [
                          "BTC-USDC",
                          "ETH-USDC",
                          "SOL-USDC"
                        ],
                        "example": "BTC-USDC"
                      },
                      "subaccount": {
                        "type": "string",
                        "pattern": "^0x[a-fA-F0-9]{40}$",
                        "description": "An Ethereum-compatible address in 0x-prefixed hex format (20 bytes).",
                        "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
                      },
                      "side": {
                        "description": "Position side (BUY for Long, SELL for Short).",
                        "type": "string",
                        "enum": [
                          "BUY",
                          "SELL"
                        ]
                      },
                      "qty": {
                        "type": "string",
                        "format": "decimal",
                        "description": "Current position size in base asset.",
                        "example": "0.01"
                      },
                      "entryPrice": {
                        "type": "string",
                        "format": "decimal",
                        "description": "Average entry price of the position.",
                        "example": "2025.48"
                      },
                      "leverage": {
                        "type": "string",
                        "format": "decimal",
                        "description": "Leverage used for this position.",
                        "example": "10"
                      },
                      "liquidationPrice": {
                        "type": "string",
                        "format": "decimal",
                        "description": "Estimated price at which the position will be liquidated.",
                        "example": "1850.00"
                      },
                      "unrealizedPnl": {
                        "type": "string",
                        "format": "decimal",
                        "description": "Floating profit or loss based on current mark price.",
                        "example": "12.50"
                      },
                      "fundingPayment": {
                        "type": "string",
                        "format": "decimal",
                        "description": "Total funding payments accumulated for this position lifecycle.",
                        "example": "-0.13816"
                      },
                      "takeProfit": {
                        "type": "string",
                        "format": "decimal",
                        "description": "Take-profit trigger price, if set."
                      },
                      "stopLoss": {
                        "type": "string",
                        "format": "decimal",
                        "description": "Stop-loss trigger price, if set."
                      },
                      "time": {
                        "description": "Time when the position was first opened.",
                        "type": "integer",
                        "format": "int64",
                        "minimum": 1000000000000,
                        "maximum": 4102444800000,
                        "example": 1678886400000
                      },
                      "updatedTime": {
                        "description": "Last time the position state was updated.",
                        "type": "integer",
                        "format": "int64",
                        "minimum": 1000000000000,
                        "maximum": 4102444800000,
                        "example": 1678886400000
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request failed structural validation or business logic.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 40001,
                  "msg": "Invalid parameter: 'limit' cannot exceed 1000.",
                  "param": "limit"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 40401,
                  "msg": "Market symbol does not exist.",
                  "param": "symbol"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The client breached the designated rate limit weight.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 42901,
                  "msg": "Rate limit exceeded. Please wait 5 seconds before retrying."
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/subaccounts/{address}/perp/positions/history": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Subaccount Position History",
        "security": [],
        "description": "Retrieves historical (closed) perpetual position records for a specific subaccount.",
        "operationId": "getPerpPositionsHistory",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The specific subaccount address.",
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "description": "An Ethereum-compatible address in 0x-prefixed hex format (20 bytes).",
              "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "Filter by perpetual market symbol. If omitted, results are returned for all symbols.",
            "schema": {
              "type": "string",
              "description": "A perpetual market symbol.",
              "enum": [
                "BTC-USDC",
                "ETH-USDC",
                "SOL-USDC"
              ],
              "example": "BTC-USDC"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 500,
              "default": 1
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor for pagination. Returns records with an ID less than (older than) this cursor value.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "description": "A unique 64-bit identifier.",
              "example": 123456789
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "required": false,
            "description": "Filter records at or after this timestamp (milliseconds).",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1000000000000,
              "maximum": 4102444800000,
              "description": "A Unix timestamp in milliseconds.",
              "example": 1678886400000
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "required": false,
            "description": "Filter records at or before this timestamp (milliseconds).",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1000000000000,
              "maximum": 4102444800000,
              "description": "A Unix timestamp in milliseconds.",
              "example": 1678886400000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of historical perpetual positions.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/PerpPositionHistory"
                      }
                    }
                  },
                  "type": "object",
                  "required": [
                    "items",
                    "hasNext"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request failed structural validation or business logic.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 40001,
                  "msg": "Invalid parameter: 'limit' cannot exceed 1000.",
                  "param": "limit"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 40401,
                  "msg": "Market symbol does not exist.",
                  "param": "symbol"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The client breached the designated rate limit weight.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 42901,
                  "msg": "Rate limit exceeded. Please wait 5 seconds before retrying."
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/subaccounts/{address}/perp/orders": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Subaccount Perpetual Order History",
        "security": [],
        "description": "Retrieves historical perpetual order records for a specific subaccount.",
        "operationId": "getPerpOrders",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The specific subaccount address.",
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "description": "An Ethereum-compatible address in 0x-prefixed hex format (20 bytes).",
              "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "Filter by perpetual market symbol. If omitted, results are returned for all symbols.",
            "schema": {
              "type": "string",
              "description": "A perpetual market symbol.",
              "enum": [
                "BTC-USDC",
                "ETH-USDC",
                "SOL-USDC"
              ],
              "example": "BTC-USDC"
            }
          },
          {
            "name": "side",
            "in": "query",
            "required": false,
            "description": "Filter by order side.",
            "schema": {
              "type": "string",
              "description": "The side of an order.",
              "enum": [
                "BUY",
                "SELL"
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor for pagination. Returns records with an ID less than (older than) this cursor value.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "description": "A unique 64-bit identifier.",
              "example": 123456789
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "required": false,
            "description": "Filter records at or after this timestamp (milliseconds).",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1000000000000,
              "maximum": 4102444800000,
              "description": "A Unix timestamp in milliseconds.",
              "example": 1678886400000
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "required": false,
            "description": "Filter records at or before this timestamp (milliseconds).",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1000000000000,
              "maximum": 4102444800000,
              "description": "A Unix timestamp in milliseconds.",
              "example": 1678886400000
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 500,
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of perpetual orders.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/PerpOrder"
                      }
                    }
                  },
                  "type": "object",
                  "required": [
                    "items",
                    "hasNext"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request failed structural validation or business logic.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 40001,
                  "msg": "Invalid parameter: 'limit' cannot exceed 1000.",
                  "param": "limit"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 40401,
                  "msg": "Market symbol does not exist.",
                  "param": "symbol"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The client breached the designated rate limit weight.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 42901,
                  "msg": "Rate limit exceeded. Please wait 5 seconds before retrying."
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/subaccounts/{address}/perp/orders/open": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Subaccount Open Perpetual Orders",
        "security": [],
        "description": "Retrieves currently open perpetual orders for a specific subaccount.",
        "operationId": "getPerpOpenOrders",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The specific subaccount address.",
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "description": "An Ethereum-compatible address in 0x-prefixed hex format (20 bytes).",
              "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "Filter by perpetual market symbol. If omitted, results are returned for all symbols.",
            "schema": {
              "type": "string",
              "description": "A perpetual market symbol.",
              "enum": [
                "BTC-USDC",
                "ETH-USDC",
                "SOL-USDC"
              ],
              "example": "BTC-USDC"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of open perpetual orders.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "description": "A perpetual order record.",
                    "required": [
                      "orderId",
                      "symbol",
                      "subaccount",
                      "side",
                      "type",
                      "status",
                      "time",
                      "price",
                      "qty",
                      "filledQty",
                      "remainingQty",
                      "leverage",
                      "slippage",
                      "takeProfit",
                      "stopLoss",
                      "reduceOnly",
                      "postOnly",
                      "fee",
                      "blockNumber",
                      "txHash"
                    ],
                    "properties": {
                      "orderId": {
                        "description": "On-chain order ID.",
                        "type": "integer",
                        "format": "int64",
                        "minimum": 1,
                        "example": 123456789
                      },
                      "symbol": {
                        "type": "string",
                        "description": "A perpetual market symbol.",
                        "enum": [
                          "BTC-USDC",
                          "ETH-USDC",
                          "SOL-USDC"
                        ],
                        "example": "BTC-USDC"
                      },
                      "subaccount": {
                        "description": "Subaccount address that placed the order.",
                        "type": "string",
                        "pattern": "^0x[a-fA-F0-9]{40}$",
                        "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
                      },
                      "side": {
                        "type": "string",
                        "description": "The side of an order.",
                        "enum": [
                          "BUY",
                          "SELL"
                        ]
                      },
                      "type": {
                        "type": "string",
                        "description": "Basic order type.",
                        "enum": [
                          "LIMIT",
                          "MARKET"
                        ]
                      },
                      "status": {
                        "type": "string",
                        "description": "The current status of an order.\n\n| Value | Description |\n|---|---|\n| `OPEN` | Active on the orderbook. |\n| `PARTIALLY_FILLED` | Partially executed; remainder still active. |\n| `FILLED` | Fully executed. |\n| `CANCELED` | Canceled by user or protocol. |\n| `REJECTED` | Reverted or failed on-chain. |\n| `EXPIRED` | The order was canceled according to the order type's rules or by the exchange. |\n",
                        "enum": [
                          "OPEN",
                          "PARTIALLY_FILLED",
                          "FILLED",
                          "CANCELED",
                          "REJECTED",
                          "EXPIRED"
                        ]
                      },
                      "time": {
                        "description": "Order creation timestamp in milliseconds.",
                        "type": "integer",
                        "format": "int64",
                        "minimum": 1000000000000,
                        "maximum": 4102444800000,
                        "example": 1678886400000
                      },
                      "price": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "format": "decimal",
                        "description": "Limit price. `null` for MARKET orders.",
                        "example": "2019.63"
                      },
                      "qty": {
                        "type": "string",
                        "format": "decimal",
                        "description": "Order quantity in base asset.",
                        "example": "0.01"
                      },
                      "filledQty": {
                        "type": "string",
                        "format": "decimal",
                        "description": "Filled quantity in base asset.",
                        "example": "0.01"
                      },
                      "remainingQty": {
                        "type": "string",
                        "format": "decimal",
                        "description": "Unfilled quantity in base asset. `\"0\"` when fully filled.",
                        "example": "0.00"
                      },
                      "leverage": {
                        "type": "string",
                        "format": "decimal",
                        "description": "Leverage used for the order.",
                        "example": "10"
                      },
                      "slippage": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "format": "decimal",
                        "description": "Slippage tolerance for MARKET orders.",
                        "example": "0.00"
                      },
                      "takeProfit": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "format": "decimal",
                        "description": "Take-profit price if set."
                      },
                      "stopLoss": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "format": "decimal",
                        "description": "Stop-loss price if set."
                      },
                      "reduceOnly": {
                        "type": "boolean",
                        "description": "Whether the order is reduce-only.",
                        "example": false
                      },
                      "postOnly": {
                        "type": "boolean",
                        "description": "Whether the order is post-only (maker-only).",
                        "example": false
                      },
                      "fee": {
                        "type": "string",
                        "format": "decimal",
                        "description": "Total fee charged for this order.",
                        "example": "0.002022"
                      },
                      "blockNumber": {
                        "type": "integer",
                        "format": "int64",
                        "description": "Block number at which the order was submitted on-chain.",
                        "example": 8996440
                      },
                      "txHash": {
                        "type": "string",
                        "pattern": "^0x[a-fA-F0-9]{64}$",
                        "description": "An on-chain transaction hash in 0x-prefixed hex format (32 bytes).",
                        "example": "0xe9934d16d98c70b47e6f7b62aaf3adbeb5dec3e9d0b69660d6294819f526b47b"
                      },
                      "cancelReason": {
                        "type": "string",
                        "description": "Reason why the order was canceled, if applicable.",
                        "example": "None"
                      },
                      "cancelBlockNumber": {
                        "type": [
                          "integer",
                          "null"
                        ],
                        "format": "int64",
                        "description": "Block number at which the order was canceled, if applicable."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request failed structural validation or business logic.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 40001,
                  "msg": "Invalid parameter: 'limit' cannot exceed 1000.",
                  "param": "limit"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 40401,
                  "msg": "Market symbol does not exist.",
                  "param": "symbol"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The client breached the designated rate limit weight.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 42901,
                  "msg": "Rate limit exceeded. Please wait 5 seconds before retrying."
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/subaccounts/{address}/perp/trades": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Subaccount Perpetual Trade History",
        "security": [],
        "description": "Retrieves historical perpetual trade fills for a specific subaccount.",
        "operationId": "getPerpTrades",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The specific subaccount address.",
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "description": "An Ethereum-compatible address in 0x-prefixed hex format (20 bytes).",
              "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "Filter by perpetual market symbol. If omitted, results are returned for all symbols.",
            "schema": {
              "type": "string",
              "description": "A perpetual market symbol.",
              "enum": [
                "BTC-USDC",
                "ETH-USDC",
                "SOL-USDC"
              ],
              "example": "BTC-USDC"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 500,
              "default": 1
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor for pagination. Returns records with an ID less than (older than) this cursor value.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "description": "A unique 64-bit identifier.",
              "example": 123456789
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "required": false,
            "description": "Filter records at or after this timestamp (milliseconds).",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1000000000000,
              "maximum": 4102444800000,
              "description": "A Unix timestamp in milliseconds.",
              "example": 1678886400000
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "required": false,
            "description": "Filter records at or before this timestamp (milliseconds).",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1000000000000,
              "maximum": 4102444800000,
              "description": "A Unix timestamp in milliseconds.",
              "example": 1678886400000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of perpetual trade fills.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/AccountPerpTrade"
                      }
                    }
                  },
                  "type": "object",
                  "required": [
                    "items",
                    "hasNext"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request failed structural validation or business logic.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 40001,
                  "msg": "Invalid parameter: 'limit' cannot exceed 1000.",
                  "param": "limit"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 40401,
                  "msg": "Market symbol does not exist.",
                  "param": "symbol"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The client breached the designated rate limit weight.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 42901,
                  "msg": "Rate limit exceeded. Please wait 5 seconds before retrying."
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/subaccounts/{address}/perp/funding-payments": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Subaccount Funding Payments",
        "security": [],
        "description": "Retrieves historical perpetual funding payment records for a specific subaccount address.",
        "operationId": "getPerpFundingPayments",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The specific subaccount address.",
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "description": "An Ethereum-compatible address in 0x-prefixed hex format (20 bytes).",
              "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "Filter by perpetual market symbol. If omitted, results are returned for all symbols.",
            "schema": {
              "type": "string",
              "description": "A perpetual market symbol.",
              "enum": [
                "BTC-USDC",
                "ETH-USDC",
                "SOL-USDC"
              ],
              "example": "BTC-USDC"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 500,
              "default": 1
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "required": false,
            "description": "Filter records at or after this timestamp (milliseconds).",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1000000000000,
              "maximum": 4102444800000,
              "description": "A Unix timestamp in milliseconds.",
              "example": 1678886400000
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "required": false,
            "description": "Filter records at or before this timestamp (milliseconds).",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1000000000000,
              "maximum": 4102444800000,
              "description": "A Unix timestamp in milliseconds.",
              "example": 1678886400000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of funding payment records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "description": "A historical perpetual funding payment record.",
                    "required": [
                      "symbol",
                      "time",
                      "subaccount",
                      "payment",
                      "fundingRate",
                      "positionSize"
                    ],
                    "properties": {
                      "symbol": {
                        "type": "string",
                        "description": "A perpetual market symbol.",
                        "enum": [
                          "BTC-USDC",
                          "ETH-USDC",
                          "SOL-USDC"
                        ],
                        "example": "BTC-USDC"
                      },
                      "time": {
                        "description": "Unix timestamp in milliseconds when the funding was settled.",
                        "type": "integer",
                        "format": "int64",
                        "minimum": 1000000000000,
                        "maximum": 4102444800000,
                        "example": 1678886400000
                      },
                      "subaccount": {
                        "description": "The subaccount address that received or paid the funding.",
                        "type": "string",
                        "pattern": "^0x[a-fA-F0-9]{40}$",
                        "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
                      },
                      "payment": {
                        "type": "string",
                        "format": "decimal",
                        "description": "Funding payment amount. Negative means the subaccount paid; positive means it received.",
                        "example": "-0.5401"
                      },
                      "fundingRate": {
                        "type": "string",
                        "format": "decimal",
                        "description": "The funding rate applied at settlement.",
                        "example": "0.0001"
                      },
                      "positionSize": {
                        "type": "string",
                        "format": "decimal",
                        "description": "The notional position size at the time of settlement.",
                        "example": "5401"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request failed structural validation or business logic.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 40001,
                  "msg": "Invalid parameter: 'limit' cannot exceed 1000.",
                  "param": "limit"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 40401,
                  "msg": "Market symbol does not exist.",
                  "param": "symbol"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The client breached the designated rate limit weight.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 42901,
                  "msg": "Rate limit exceeded. Please wait 5 seconds before retrying."
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/subaccounts/{address}/spot/orders": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Subaccount Spot Order History",
        "security": [],
        "description": "Retrieves historical spot order records for a specific subaccount.",
        "operationId": "getSpotOrders",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The specific subaccount address.",
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "description": "An Ethereum-compatible address in 0x-prefixed hex format (20 bytes).",
              "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "Filter by spot market symbol. If omitted, results are returned for all symbols.",
            "schema": {
              "type": "string",
              "description": "A spot market symbol.",
              "enum": [
                "BTC-USDC",
                "ETH-USDC",
                "SOL-USDC"
              ],
              "example": "BTC-USDC"
            }
          },
          {
            "name": "side",
            "in": "query",
            "required": false,
            "description": "Filter by order side.",
            "schema": {
              "type": "string",
              "description": "The side of an order.",
              "enum": [
                "BUY",
                "SELL"
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor for pagination. Returns records with an ID less than (older than) this cursor value.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "description": "A unique 64-bit identifier.",
              "example": 123456789
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "required": false,
            "description": "Filter records at or after this timestamp (milliseconds).",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1000000000000,
              "maximum": 4102444800000,
              "description": "A Unix timestamp in milliseconds.",
              "example": 1678886400000
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "required": false,
            "description": "Filter records at or before this timestamp (milliseconds).",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1000000000000,
              "maximum": 4102444800000,
              "description": "A Unix timestamp in milliseconds.",
              "example": 1678886400000
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 500,
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of spot orders.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/SpotOrder"
                      }
                    }
                  },
                  "type": "object",
                  "required": [
                    "items",
                    "hasNext"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request failed structural validation or business logic.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 40001,
                  "msg": "Invalid parameter: 'limit' cannot exceed 1000.",
                  "param": "limit"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 40401,
                  "msg": "Market symbol does not exist.",
                  "param": "symbol"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The client breached the designated rate limit weight.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The DeepX internal error code detailing exactly what failed."
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here."
                    }
                  }
                },
                "example": {
                  "code": 42901,
                  "msg": "Rate limit exceeded. Please wait 5 seconds before retrying."
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/subaccounts/{address}/spot/orders/open": {
      "get": {
        "tags": [
[...]
