{
  "openapi": "3.2.0",
  "info": {
    "title": "DeepX API",
    "version": "1.1.0",
    "description": "DeepX Public API V1.\n\n## Changelog\n\n**v1.0.0 (2026-03-24)**\n\n- Initial release\n\n## General API Information\n\n- **Time Format**: All timestamps are in milliseconds (ms) by default.\n- **Data Order**: Data is returned in chronological order, unless noted otherwise. Here is how the `startTime` and `endTime` parameters work:\n  * Without `startTime` or `endTime`, returns the most recent items up to the `limit`.\n  * With `startTime`, returns oldest items from `startTime` up to the `limit`.\n  * With `endTime`, returns most recent items up to `endTime` and the `limit`.\n  * With both, behaves like `startTime` but does not exceed `endTime`.\n- **Pagination**: Historical data is paginated using `cursor` and `limit`. All paginated responses include `nextCursor` and `hasNext` metadata:\n  * `nextCursor`: The ID of the oldest record in the current page. Pass this as `cursor` in the next request to fetch the next (older) page. `null` when there are no more records.\n  * `hasNext`: `true` if more records are available beyond the current page. Stop paginating when `hasNext` is `false` (equivalent to the returned array length being `< limit`).\n  * When combining with `startTime`/`endTime`, all three filters apply together:\n    - With `cursor` and `endTime`, returns items after `cursor` and before `endTime` up to the `limit`.\n    - With `cursor` and `startTime`, returns items after `cursor` and after `startTime` up to the `limit`.\n    - With `cursor`, `startTime`, and `endTime`, returns items after `cursor` and between `startTime` and `endTime` up to the `limit`.\n  * When `cursor` points to a record earlier than `startTime`, all candidate records fall before the time window. The response returns an empty `items` array with `nextCursor: null` and `hasNext: false`.\n",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://fa1356g-api.deepx.fi/v1",
      "description": "Devnet Server"
    }
  ],
  "tags": [
    {
      "name": "System",
      "description": "Connectivity, server health, and server time."
    },
    {
      "name": "Spot Markets",
      "description": "Public market data for Spot pairs (tickers, depth, trades)."
    },
    {
      "name": "Perp Markets",
      "description": "Public market data for Perpetual contracts (tickers, funding rates, etc.)."
    },
    {
      "name": "Account",
      "description": "Account data (wallets, subaccounts, orders, trades, positions)."
    },
    {
      "name": "Lending Markets",
      "description": "Lending and borrowing market parameters and real-time data."
    }
  ],
  "paths": {
    "/v1/ping": {
      "get": {
        "tags": [
          "System"
        ],
        "security": [],
        "summary": "Test Connectivity",
        "description": "Test connectivity to the REST API.",
        "operationId": "ping",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Empty response body"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The client breached the designated rate limit weight.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "format": "int32"
                        },
                        {
                          "type": "string"
                        }
                      ],
                      "description": "API layer: 5-digit integer (10000–19999). On-chain: 'pallet_error' string (e.g. '19_0').",
                      "example": 10001
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure.",
                      "example": "Market symbol does not exist."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here.",
                      "example": "symbol"
                    }
                  }
                },
                "example": {
                  "code": 10010,
                  "msg": "Rate limit exceeded. Retry after 5 seconds."
                }
              }
            }
          }
        }
      }
    },
    "/v1/time": {
      "get": {
        "tags": [
          "System"
        ],
        "security": [],
        "summary": "Get Server Time",
        "description": "Returns the current server time.",
        "operationId": "getServerTime",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "serverTime"
                  ],
                  "properties": {
                    "serverTime": {
                      "type": "integer",
                      "format": "int64",
                      "minimum": 1000000000000,
                      "maximum": 4102444800000,
                      "description": "A Unix timestamp in milliseconds.",
                      "example": 1678886400000
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The client breached the designated rate limit weight.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "format": "int32"
                        },
                        {
                          "type": "string"
                        }
                      ],
                      "description": "API layer: 5-digit integer (10000–19999). On-chain: 'pallet_error' string (e.g. '19_0').",
                      "example": 10001
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure.",
                      "example": "Market symbol does not exist."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here.",
                      "example": "symbol"
                    }
                  }
                },
                "example": {
                  "code": 10010,
                  "msg": "Rate limit exceeded. Retry after 5 seconds."
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/wallets/{address}/subaccounts": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "List Wallet Subaccounts",
        "security": [],
        "description": "Retrieves a list of subaccount addresses associated with a primary wallet address.",
        "operationId": "getAccountSubaccounts",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Primary wallet address.",
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "description": "An Ethereum-compatible address in 0x-prefixed hex format (20 bytes).",
              "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of subaccount addresses.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "pattern": "^0x[a-fA-F0-9]{40}$",
                    "description": "An Ethereum-compatible address in 0x-prefixed hex format (20 bytes).",
                    "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request body or URL is malformed (invalid JSON, wrong types, missing required fields).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "format": "int32"
                        },
                        {
                          "type": "string"
                        }
                      ],
                      "description": "API layer: 5-digit integer (10000–19999). On-chain: 'pallet_error' string (e.g. '19_0').",
                      "example": 10001
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure.",
                      "example": "Market symbol does not exist."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here.",
                      "example": "symbol"
                    }
                  }
                },
                "example": {
                  "code": 10002,
                  "msg": "Request body is not valid JSON."
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The client breached the designated rate limit weight.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "format": "int32"
                        },
                        {
                          "type": "string"
                        }
                      ],
                      "description": "API layer: 5-digit integer (10000–19999). On-chain: 'pallet_error' string (e.g. '19_0').",
                      "example": 10001
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure.",
                      "example": "Market symbol does not exist."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here.",
                      "example": "symbol"
                    }
                  }
                },
                "example": {
                  "code": 10010,
                  "msg": "Rate limit exceeded. Retry after 5 seconds."
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/wallets/{address}/one-click-trading-accounts": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "List One-Click Trading Accounts",
        "security": [],
        "description": "Retrieves a list of session-key (One-Click Trading) accounts linked to a primary wallet address.",
        "operationId": "getOneClickTradingAccounts",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Primary wallet address.",
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "description": "An Ethereum-compatible address in 0x-prefixed hex format (20 bytes).",
              "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of session-key account addresses.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "pattern": "^0x[a-fA-F0-9]{40}$",
                    "description": "An Ethereum-compatible address in 0x-prefixed hex format (20 bytes).",
                    "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request body or URL is malformed (invalid JSON, wrong types, missing required fields).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "format": "int32"
                        },
                        {
                          "type": "string"
                        }
                      ],
                      "description": "API layer: 5-digit integer (10000–19999). On-chain: 'pallet_error' string (e.g. '19_0').",
                      "example": 10001
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure.",
                      "example": "Market symbol does not exist."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here.",
                      "example": "symbol"
                    }
                  }
                },
                "example": {
                  "code": 10002,
                  "msg": "Request body is not valid JSON."
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The client breached the designated rate limit weight.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "format": "int32"
                        },
                        {
                          "type": "string"
                        }
                      ],
                      "description": "API layer: 5-digit integer (10000–19999). On-chain: 'pallet_error' string (e.g. '19_0').",
                      "example": 10001
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure.",
                      "example": "Market symbol does not exist."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here.",
                      "example": "symbol"
                    }
                  }
                },
                "example": {
                  "code": 10010,
                  "msg": "Rate limit exceeded. Retry after 5 seconds."
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/wallets/{address}/quota": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Wallet Quota",
        "security": [],
        "description": "Retrieves the current transaction quota for a wallet.",
        "operationId": "getWalletQuota",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Primary wallet address.",
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "description": "An Ethereum-compatible address in 0x-prefixed hex format (20 bytes).",
              "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The wallet's quota information.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Current transaction quota for a wallet.",
                  "required": [
                    "remaining",
                    "unclaimed",
                    "pendingGrant"
                  ],
                  "properties": {
                    "remaining": {
                      "type": "integer",
                      "format": "int64",
                      "minimum": 0,
                      "description": "Free transactions currently available on-chain.",
                      "example": 3250
                    },
                    "unclaimed": {
                      "type": "integer",
                      "format": "int64",
                      "minimum": 0,
                      "description": "Earned quota not yet reflected in `remaining`, including `pendingGrant`.",
                      "example": 1500
                    },
                    "pendingGrant": {
                      "type": "integer",
                      "format": "int64",
                      "minimum": 0,
                      "description": "Portion of `unclaimed` awaiting on-chain confirmation.",
                      "example": 1000
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request body or URL is malformed (invalid JSON, wrong types, missing required fields).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "format": "int32"
                        },
                        {
                          "type": "string"
                        }
                      ],
                      "description": "API layer: 5-digit integer (10000–19999). On-chain: 'pallet_error' string (e.g. '19_0').",
                      "example": 10001
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure.",
                      "example": "Market symbol does not exist."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here.",
                      "example": "symbol"
                    }
                  }
                },
                "example": {
                  "code": 10002,
                  "msg": "Request body is not valid JSON."
                }
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "format": "int32"
                        },
                        {
                          "type": "string"
                        }
                      ],
                      "description": "API layer: 5-digit integer (10000–19999). On-chain: 'pallet_error' string (e.g. '19_0').",
                      "example": 10001
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure.",
                      "example": "Market symbol does not exist."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here.",
                      "example": "symbol"
                    }
                  }
                },
                "example": {
                  "code": 10007,
                  "msg": "Market 'BTC-USDC' does not exist or is not active.",
                  "param": "symbol"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The client breached the designated rate limit weight.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "format": "int32"
                        },
                        {
                          "type": "string"
                        }
                      ],
                      "description": "API layer: 5-digit integer (10000–19999). On-chain: 'pallet_error' string (e.g. '19_0').",
                      "example": 10001
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure.",
                      "example": "Market symbol does not exist."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here.",
                      "example": "symbol"
                    }
                  }
                },
                "example": {
                  "code": 10010,
                  "msg": "Rate limit exceeded. Retry after 5 seconds."
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/wallets/{address}/quota/claims": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Claim Volume-Earned Quota",
        "security": [],
        "description": "Requests an immediate grant of earned quota. The request requires a signature from the wallet in the URL and is accepted asynchronously. Reusing an `idempotencyKey` returns the original result.\n",
        "operationId": "createQuotaClaim",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Primary wallet address.",
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "description": "An Ethereum-compatible address in 0x-prefixed hex format (20 bytes).",
              "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Authorization payload for an immediate quota grant request.",
                "required": [
                  "idempotencyKey",
                  "message",
                  "signature"
                ],
                "properties": {
                  "idempotencyKey": {
                    "type": "string",
                    "maxLength": 160,
                    "description": "Client-provided key for safely retrying the same request.",
                    "example": "018f52bc-0f0b-7cc4-b356-a91f62c72e3f"
                  },
                  "message": {
                    "type": "string",
                    "description": "Exact EIP-191 `personal_sign` message. It must match the URL address and `idempotencyKey` and use LF line breaks.",
                    "example": "DeepX quota claim\nWallet: 0x2394487877bbcdd12f6a7a904fc8aedf3223fc50\nIdempotency-Key: 018f52bc-0f0b-7cc4-b356-a91f62c72e3f"
                  },
                  "signature": {
                    "type": "string",
                    "description": "EIP-191 signature of `message`, prefixed with `0x`.",
                    "example": "0x..."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quota grant request result and post-request unclaimed quota snapshot.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Result of an immediate quota grant request.",
                  "required": [
                    "outcome",
                    "claim",
                    "unclaimed",
                    "pendingGrant"
                  ],
                  "properties": {
                    "outcome": {
                      "type": "string",
                      "enum": [
                        "created",
                        "existing",
                        "activeGrant",
                        "nothingToGrant"
                      ],
                      "description": "`created` for a new task, `existing` for the same idempotency key,\n`activeGrant` for an in-progress grant, or `nothingToGrant` when no quota is available.\n"
                    },
                    "claim": {
                      "oneOf": [
                        {
                          "type": "object",
                          "description": "Snapshot returned for an immediate quota grant request.",
                          "required": [
                            "quotaAmount",
                            "status",
                            "time"
                          ],
                          "properties": {
                            "quotaAmount": {
                              "type": "integer",
                              "format": "int64",
                              "minimum": 1,
                              "description": "Quota included in the grant task."
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "pending",
                                "submitted",
                                "confirmed",
                                "failed"
                              ],
                              "description": "Grant status: `pending`, `submitted`, `confirmed`, or `failed`.\n"
                            },
                            "time": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Grant request acceptance time."
                            }
                          }
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Grant task snapshot, or null when `outcome` is `nothingToGrant`."
                    },
                    "unclaimed": {
                      "type": "integer",
                      "format": "int64",
                      "minimum": 0,
                      "description": "Earned quota not yet reflected on-chain after this request."
                    },
                    "pendingGrant": {
                      "type": "integer",
                      "format": "int64",
                      "minimum": 0,
                      "description": "Portion of `unclaimed` awaiting grant confirmation."
                    }
                  },
                  "oneOf": [
                    {
                      "properties": {
                        "outcome": {
                          "const": "created"
                        },
                        "claim": {
                          "type": "object",
                          "description": "Snapshot returned for an immediate quota grant request.",
                          "required": [
                            "quotaAmount",
                            "status",
                            "time"
                          ],
                          "properties": {
                            "quotaAmount": {
                              "type": "integer",
                              "format": "int64",
                              "minimum": 1,
                              "description": "Quota included in the grant task."
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "pending",
                                "submitted",
                                "confirmed",
                                "failed"
                              ],
                              "description": "Grant status: `pending`, `submitted`, `confirmed`, or `failed`.\n"
                            },
                            "time": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Grant request acceptance time."
                            }
                          }
                        }
                      }
                    },
                    {
                      "properties": {
                        "outcome": {
                          "const": "existing"
                        },
                        "claim": {
                          "type": "object",
                          "description": "Snapshot returned for an immediate quota grant request.",
                          "required": [
                            "quotaAmount",
                            "status",
                            "time"
                          ],
                          "properties": {
                            "quotaAmount": {
                              "type": "integer",
                              "format": "int64",
                              "minimum": 1,
                              "description": "Quota included in the grant task."
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "pending",
                                "submitted",
                                "confirmed",
                                "failed"
                              ],
                              "description": "Grant status: `pending`, `submitted`, `confirmed`, or `failed`.\n"
                            },
                            "time": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Grant request acceptance time."
                            }
                          }
                        }
                      }
                    },
                    {
                      "properties": {
                        "outcome": {
                          "const": "activeGrant"
                        },
                        "claim": {
                          "type": "object",
                          "description": "Snapshot returned for an immediate quota grant request.",
                          "required": [
                            "quotaAmount",
                            "status",
                            "time"
                          ],
                          "properties": {
                            "quotaAmount": {
                              "type": "integer",
                              "format": "int64",
                              "minimum": 1,
                              "description": "Quota included in the grant task."
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "pending",
                                "submitted",
                                "confirmed",
                                "failed"
                              ],
                              "description": "Grant status: `pending`, `submitted`, `confirmed`, or `failed`.\n"
                            },
                            "time": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Grant request acceptance time."
                            }
                          }
                        }
                      }
                    },
                    {
                      "properties": {
                        "outcome": {
                          "const": "nothingToGrant"
                        },
                        "claim": {
                          "type": "null"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request body or URL is malformed (invalid JSON, wrong types, missing required fields).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "format": "int32"
                        },
                        {
                          "type": "string"
                        }
                      ],
                      "description": "API layer: 5-digit integer (10000–19999). On-chain: 'pallet_error' string (e.g. '19_0').",
                      "example": 10001
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure.",
                      "example": "Market symbol does not exist."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here.",
                      "example": "symbol"
                    }
                  }
                },
                "example": {
                  "code": 10002,
                  "msg": "Request body is not valid JSON."
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The client breached the designated rate limit weight.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "format": "int32"
                        },
                        {
                          "type": "string"
                        }
                      ],
                      "description": "API layer: 5-digit integer (10000–19999). On-chain: 'pallet_error' string (e.g. '19_0').",
                      "example": 10001
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure.",
                      "example": "Market symbol does not exist."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here.",
                      "example": "symbol"
                    }
                  }
                },
                "example": {
                  "code": 10010,
                  "msg": "Rate limit exceeded. Retry after 5 seconds."
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/subaccounts/{address}/info": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Subaccount Info",
        "security": [],
        "description": "Retrieves profile information (owner, name) for a specific subaccount address.",
        "operationId": "getSubaccountInfo",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The subaccount address.",
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "description": "An Ethereum-compatible address in 0x-prefixed hex format (20 bytes).",
              "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The subaccount profile information.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Profile information for a specific subaccount.",
                  "required": [
                    "subaccount",
                    "owner",
                    "name"
                  ],
                  "properties": {
                    "subaccount": {
                      "description": "The subaccount wallet address.",
                      "type": "string",
                      "pattern": "^0x[a-fA-F0-9]{40}$",
                      "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
                    },
                    "owner": {
                      "description": "The primary wallet address that owns this subaccount.",
                      "type": "string",
                      "pattern": "^0x[a-fA-F0-9]{40}$",
                      "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
                    },
                    "name": {
                      "type": "string",
                      "description": "Human-readable name of the subaccount.",
                      "example": "main"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request body or URL is malformed (invalid JSON, wrong types, missing required fields).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "format": "int32"
                        },
                        {
                          "type": "string"
                        }
                      ],
                      "description": "API layer: 5-digit integer (10000–19999). On-chain: 'pallet_error' string (e.g. '19_0').",
                      "example": 10001
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure.",
                      "example": "Market symbol does not exist."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here.",
                      "example": "symbol"
                    }
                  }
                },
                "example": {
                  "code": 10002,
                  "msg": "Request body is not valid JSON."
                }
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "format": "int32"
                        },
                        {
                          "type": "string"
                        }
                      ],
                      "description": "API layer: 5-digit integer (10000–19999). On-chain: 'pallet_error' string (e.g. '19_0').",
                      "example": 10001
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure.",
                      "example": "Market symbol does not exist."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here.",
                      "example": "symbol"
                    }
                  }
                },
                "example": {
                  "code": 10007,
                  "msg": "Market 'BTC-USDC' does not exist or is not active.",
                  "param": "symbol"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The client breached the designated rate limit weight.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "format": "int32"
                        },
                        {
                          "type": "string"
                        }
                      ],
                      "description": "API layer: 5-digit integer (10000–19999). On-chain: 'pallet_error' string (e.g. '19_0').",
                      "example": 10001
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure.",
                      "example": "Market symbol does not exist."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here.",
                      "example": "symbol"
                    }
                  }
                },
                "example": {
                  "code": 10010,
                  "msg": "Rate limit exceeded. Retry after 5 seconds."
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/subaccounts/{address}/portfolio": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Subaccount Portfolio",
        "security": [],
        "description": "Retrieves a unified portfolio summary for a subaccount, including net account value, deposit/borrow totals, collateral, and risk metrics.",
        "operationId": "getSubaccountPortfolio",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The subaccount address.",
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "description": "An Ethereum-compatible address in 0x-prefixed hex format (20 bytes).",
              "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The subaccount's portfolio summary.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "A unified portfolio summary for a subaccount. Includes net account value, total deposit/borrow values, initial and maintenance collateral, margin requirements, the Unified Maintenance Margin Ratio (uniMMR), and the Unified Initial Margin Ratio (uniIMR).\n",
                  "required": [
                    "subaccount",
                    "equity",
                    "totalDepositsUsd",
                    "totalBorrowsUsd",
                    "totalCollateral",
                    "initCollateral",
                    "maintMarginReq",
                    "initMarginReq",
                    "availableMargin",
                    "uniMMR",
                    "uniIMR",
                    "time"
                  ],
                  "properties": {
                    "subaccount": {
                      "description": "The subaccount address this portfolio summary belongs to.",
                      "type": "string",
                      "pattern": "^0x[a-fA-F0-9]{40}$",
                      "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
                    },
                    "equity": {
                      "type": "string",
                      "format": "decimal",
                      "description": "Net account value in USD. Calculated as total deposits minus total borrows minus accrued borrow interest, plus unrealized PnL across all open positions and unsettled funding payments.\n",
                      "example": "799.80"
                    },
                    "totalDepositsUsd": {
                      "type": "string",
                      "format": "decimal",
                      "description": "Total USD value of all assets deposited in the subaccount.",
                      "example": "799.80"
                    },
                    "totalBorrowsUsd": {
                      "type": "string",
                      "format": "decimal",
                      "description": "Total USD value of all borrowed assets.",
                      "example": "0"
                    },
                    "totalCollateral": {
                      "type": "string",
                      "format": "decimal",
                      "description": "Total Collateral Value (maintenance-level). Equals the sum of all Maintenance Asset Values (MAV) plus unrealized PnL and unsettled funding payments.\n",
                      "example": "800.19"
                    },
                    "initCollateral": {
                      "type": "string",
                      "format": "decimal",
                      "description": "Total Initial Collateral Value. Equals the aggregate Initial Asset Value (IAV) of all deposited assets. Used to determine how much collateral is available for opening new positions or borrowing.\n",
                      "example": "800.19"
                    },
                    "maintMarginReq": {
                      "type": "string",
                      "format": "decimal",
                      "description": "Maintenance Margin Requirement (MMReq). The minimum collateral the account must maintain across all open positions to avoid liquidation.\n",
                      "example": "0.41"
                    },
                    "initMarginReq": {
                      "type": "string",
                      "format": "decimal",
                      "description": "Initial Margin Requirement (IMReq). The total initial-level, risk-weighted value of all liabilities — borrowed assets, open positions, and open orders. Used as the gating threshold for opening new positions.\n",
                      "example": "32.01"
                    },
                    "availableMargin": {
                      "type": "string",
                      "format": "decimal",
                      "description": "Available margin for new positions and borrowing. Calculated as `max(initCollateral - initMarginReq, 0)`. Divide by a market's Initial Margin Ratio (IMR) to estimate the maximum openable notional value.\n",
                      "example": "768.18"
                    },
                    "uniMMR": {
                      "type": "string",
                      "format": "decimal",
                      "description": "Unified Maintenance Margin Ratio. Calculated as `totalCollateral / maintMarginReq`. When this falls below `1`, the account is subject to liquidation.\n",
                      "example": "16.68"
                    },
                    "uniIMR": {
                      "type": "string",
                      "format": "decimal",
                      "description": "Unified Initial Margin Ratio. Calculated as `initCollateral / initMarginReq`. Reflects how much initial margin capacity remains before new positions are restricted. When this falls below `1`, the account cannot open new positions or borrow more.\n",
                      "example": "25.00"
                    },
                    "time": {
                      "description": "Snapshot timestamp in milliseconds.",
                      "type": "integer",
                      "format": "int64",
                      "minimum": 1000000000000,
                      "maximum": 4102444800000,
                      "example": 1678886400000
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request body or URL is malformed (invalid JSON, wrong types, missing required fields).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "format": "int32"
                        },
                        {
                          "type": "string"
                        }
                      ],
                      "description": "API layer: 5-digit integer (10000–19999). On-chain: 'pallet_error' string (e.g. '19_0').",
                      "example": 10001
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure.",
                      "example": "Market symbol does not exist."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here.",
                      "example": "symbol"
                    }
                  }
                },
                "example": {
                  "code": 10002,
                  "msg": "Request body is not valid JSON."
                }
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "format": "int32"
                        },
                        {
                          "type": "string"
                        }
                      ],
                      "description": "API layer: 5-digit integer (10000–19999). On-chain: 'pallet_error' string (e.g. '19_0').",
                      "example": 10001
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure.",
                      "example": "Market symbol does not exist."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here.",
                      "example": "symbol"
                    }
                  }
                },
                "example": {
                  "code": 10007,
                  "msg": "Market 'BTC-USDC' does not exist or is not active.",
                  "param": "symbol"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The client breached the designated rate limit weight.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "format": "int32"
                        },
                        {
                          "type": "string"
                        }
                      ],
                      "description": "API layer: 5-digit integer (10000–19999). On-chain: 'pallet_error' string (e.g. '19_0').",
                      "example": 10001
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure.",
                      "example": "Market symbol does not exist."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here.",
                      "example": "symbol"
                    }
                  }
                },
                "example": {
                  "code": 10010,
                  "msg": "Rate limit exceeded. Retry after 5 seconds."
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/subaccounts/{address}/stats/margin-ratio": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Subaccount Margin Ratio",
        "security": [],
        "description": "Retrieves the Unified Maintenance Margin Ratio (uniMMR) for a specific subaccount. This ratio represents the subaccount's health by comparing Total Collateral Value to  the Maintenance Margin Requirement.\n",
        "operationId": "getSubaccountMarginRatio",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The subaccount address.",
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "description": "An Ethereum-compatible address in 0x-prefixed hex format (20 bytes).",
              "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The subaccount's margin ratio stats.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "uniMMR"
                  ],
                  "properties": {
                    "uniMMR": {
                      "type": "string",
                      "format": "decimal",
                      "description": "Unified Maintenance Margin Ratio (Collateral Ratio).",
                      "example": "1.42"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request body or URL is malformed (invalid JSON, wrong types, missing required fields).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "format": "int32"
                        },
                        {
                          "type": "string"
                        }
                      ],
                      "description": "API layer: 5-digit integer (10000–19999). On-chain: 'pallet_error' string (e.g. '19_0').",
                      "example": 10001
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure.",
                      "example": "Market symbol does not exist."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here.",
                      "example": "symbol"
                    }
                  }
                },
                "example": {
                  "code": 10002,
                  "msg": "Request body is not valid JSON."
                }
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "format": "int32"
                        },
                        {
                          "type": "string"
                        }
                      ],
                      "description": "API layer: 5-digit integer (10000–19999). On-chain: 'pallet_error' string (e.g. '19_0').",
                      "example": 10001
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure.",
                      "example": "Market symbol does not exist."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here.",
                      "example": "symbol"
                    }
                  }
                },
                "example": {
                  "code": 10007,
                  "msg": "Market 'BTC-USDC' does not exist or is not active.",
                  "param": "symbol"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The client breached the designated rate limit weight.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "format": "int32"
                        },
                        {
                          "type": "string"
                        }
                      ],
                      "description": "API layer: 5-digit integer (10000–19999). On-chain: 'pallet_error' string (e.g. '19_0').",
                      "example": 10001
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure.",
                      "example": "Market symbol does not exist."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here.",
                      "example": "symbol"
                    }
                  }
                },
                "example": {
                  "code": 10010,
                  "msg": "Rate limit exceeded. Retry after 5 seconds."
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/subaccounts/{address}/perp/positions": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Subaccount Open Positions",
        "security": [],
        "description": "Retrieves the current active perpetual positions for a specific subaccount.",
        "operationId": "getPerpPositions",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The subaccount address.",
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "description": "An Ethereum-compatible address in 0x-prefixed hex format (20 bytes).",
              "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "Filter by perpetual market symbol. If omitted, results are returned for all symbols.",
            "example": "BTC-USDC",
            "schema": {
              "type": "string",
              "description": "A perpetual market symbol.",
              "enum": [
                "BTC-USDC",
                "ETH-USDC",
                "SOL-USDC"
              ],
              "example": "BTC-USDC"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of active perpetual positions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "description": "An active perpetual position snapshot.",
                    "required": [
                      "symbol",
                      "subaccount",
                      "side",
                      "qty",
                      "entryPrice",
                      "effectiveLeverage",
                      "liqPrice",
                      "unrealizedPnl",
                      "takeProfit",
                      "stopLoss",
                      "time"
                    ],
                    "properties": {
                      "symbol": {
                        "type": "string",
                        "description": "A perpetual market symbol.",
                        "enum": [
                          "BTC-USDC",
                          "ETH-USDC",
                          "SOL-USDC"
                        ],
                        "example": "BTC-USDC"
                      },
                      "subaccount": {
                        "type": "string",
                        "pattern": "^0x[a-fA-F0-9]{40}$",
                        "description": "An Ethereum-compatible address in 0x-prefixed hex format (20 bytes).",
                        "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
                      },
                      "side": {
                        "description": "Position side (BUY for Long, SELL for Short).",
                        "type": "string",
                        "enum": [
                          "BUY",
                          "SELL"
                        ],
                        "example": "BUY"
                      },
                      "qty": {
                        "type": "string",
                        "format": "decimal",
                        "description": "Current position size in base asset.",
                        "example": "0.01"
                      },
                      "entryPrice": {
                        "type": "string",
                        "format": "decimal",
                        "description": "Average entry price of the position.",
                        "example": "2025.48"
                      },
                      "effectiveLeverage": {
                        "type": "string",
                        "format": "decimal",
                        "description": "Effective leverage for this position.",
                        "example": "10"
                      },
                      "liqPrice": {
                        "type": "string",
                        "format": "decimal",
                        "description": "Estimated price at which the position will be liquidated.",
                        "example": "1850.00"
                      },
                      "unrealizedPnl": {
                        "type": "string",
                        "format": "decimal",
                        "description": "Floating profit or loss based on current mark price.",
                        "example": "12.50"
                      },
                      "fundingPayment": {
                        "type": "string",
                        "format": "decimal",
                        "description": "Total funding payments accumulated for this position lifecycle.",
                        "example": "-0.13816"
                      },
                      "takeProfit": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "format": "decimal",
                        "description": "Take-profit trigger price, if set.",
                        "example": "2200.00"
                      },
                      "stopLoss": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "format": "decimal",
                        "description": "Stop-loss trigger price, if set.",
                        "example": "1800.00"
                      },
                      "time": {
                        "description": "Time when the position was first opened.",
                        "type": "integer",
                        "format": "int64",
                        "minimum": 1000000000000,
                        "maximum": 4102444800000,
                        "example": 1678886400000
                      },
                      "updatedTime": {
                        "description": "Last time the position state was updated.",
                        "type": "integer",
                        "format": "int64",
                        "minimum": 1000000000000,
                        "maximum": 4102444800000,
                        "example": 1678886400000
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request body or URL is malformed (invalid JSON, wrong types, missing required fields).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "format": "int32"
                        },
                        {
                          "type": "string"
                        }
                      ],
                      "description": "API layer: 5-digit integer (10000–19999). On-chain: 'pallet_error' string (e.g. '19_0').",
                      "example": 10001
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure.",
                      "example": "Market symbol does not exist."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here.",
                      "example": "symbol"
                    }
                  }
                },
                "example": {
                  "code": 10002,
                  "msg": "Request body is not valid JSON."
                }
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "format": "int32"
                        },
                        {
                          "type": "string"
                        }
                      ],
                      "description": "API layer: 5-digit integer (10000–19999). On-chain: 'pallet_error' string (e.g. '19_0').",
                      "example": 10001
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure.",
                      "example": "Market symbol does not exist."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here.",
                      "example": "symbol"
                    }
                  }
                },
                "example": {
                  "code": 10007,
                  "msg": "Market 'BTC-USDC' does not exist or is not active.",
                  "param": "symbol"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The client breached the designated rate limit weight.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "format": "int32"
                        },
                        {
                          "type": "string"
                        }
                      ],
                      "description": "API layer: 5-digit integer (10000–19999). On-chain: 'pallet_error' string (e.g. '19_0').",
                      "example": 10001
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure.",
                      "example": "Market symbol does not exist."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here.",
                      "example": "symbol"
                    }
                  }
                },
                "example": {
                  "code": 10010,
                  "msg": "Rate limit exceeded. Retry after 5 seconds."
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/subaccounts/{address}/perp/positions/history": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Subaccount Position History",
        "security": [],
        "description": "Retrieves historical (closed) perpetual position records for a specific subaccount.",
        "operationId": "getPerpPositionsHistory",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The subaccount address.",
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "description": "An Ethereum-compatible address in 0x-prefixed hex format (20 bytes).",
              "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "Filter by perpetual market symbol. If omitted, results are returned for all symbols.",
            "example": "BTC-USDC",
            "schema": {
              "type": "string",
              "description": "A perpetual market symbol.",
              "enum": [
                "BTC-USDC",
                "ETH-USDC",
                "SOL-USDC"
              ],
              "example": "BTC-USDC"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 500,
              "default": 1,
              "example": 1
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor for pagination. Pass the `nextCursor` value from a previous response to fetch the next page of older records.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "required": false,
            "description": "Filter records at or after this timestamp (milliseconds).",
            "example": 1678800000000,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1000000000000,
              "maximum": 4102444800000,
              "description": "A Unix timestamp in milliseconds.",
              "example": 1678886400000
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "required": false,
            "description": "Filter records at or before this timestamp (milliseconds).",
            "example": 1678886400000,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1000000000000,
              "maximum": 4102444800000,
              "description": "A Unix timestamp in milliseconds.",
              "example": 1678886400000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of historical perpetual positions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "items",
                        "hasNext"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "description": "Array of paginated result records.",
                          "example": []
                        },
                        "nextCursor": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Opaque cursor for the next page of results. Pass this value as `cursor` in the next request to retrieve earlier records. Null when `hasNext` is false. Encoded as a base64 string whose internal structure should not be relied upon.\n",
                          "example": "YWJjMTIz"
                        },
                        "hasNext": {
                          "type": "boolean",
                          "description": "Whether more records are available beyond this page.",
                          "example": true
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "description": "A historical record of a closed perpetual position.",
                            "required": [
                              "id",
                              "symbol",
                              "subaccount",
                              "side",
                              "qty",
                              "entryPrice",
                              "closePrice",
                              "realizedPnl",
                              "totalFee",
                              "openTime",
                              "closeTime"
                            ],
                            "properties": {
                              "id": {
                                "description": "Unique position lifecycle ID. Used for cursor pagination.",
                                "type": "string",
                                "example": "123456789"
                              },
                              "symbol": {
                                "type": "string",
                                "description": "A perpetual market symbol.",
                                "enum": [
                                  "BTC-USDC",
                                  "ETH-USDC",
                                  "SOL-USDC"
                                ],
                                "example": "BTC-USDC"
                              },
                              "subaccount": {
                                "type": "string",
                                "pattern": "^0x[a-fA-F0-9]{40}$",
                                "description": "An Ethereum-compatible address in 0x-prefixed hex format (20 bytes).",
                                "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
                              },
                              "side": {
                                "type": "string",
                                "description": "The side of an order.",
                                "enum": [
                                  "BUY",
                                  "SELL"
                                ],
                                "example": "BUY"
                              },
                              "qty": {
                                "type": "string",
                                "format": "decimal",
                                "description": "Maximum size of the position during its lifecycle.",
                                "example": "0.01"
                              },
                              "entryPrice": {
                                "type": "string",
                                "format": "decimal",
                                "description": "Average entry price.",
                                "example": "2019.63"
                              },
                              "closePrice": {
                                "type": "string",
                                "format": "decimal",
                                "description": "Average exit price.",
                                "example": "2025.48"
                              },
                              "realizedPnl": {
                                "type": "string",
                                "format": "decimal",
                                "description": "Final profit or loss after closing.",
                                "example": "0.0585"
                              },
                              "fundingPayment": {
                                "type": "string",
                                "format": "decimal",
                                "description": "Net funding payments paid or received.",
                                "example": "-0.013816"
                              },
                              "totalFee": {
                                "type": "string",
                                "format": "decimal",
                                "description": "Total trading fees paid.",
                                "example": "0.004044"
                              },
                              "openTime": {
                                "type": "integer",
                                "format": "int64",
                                "minimum": 1000000000000,
                                "maximum": 4102444800000,
                                "description": "A Unix timestamp in milliseconds.",
                                "example": 1678886400000
                              },
                              "closeTime": {
                                "type": "integer",
                                "format": "int64",
                                "minimum": 1000000000000,
                                "maximum": 4102444800000,
                                "description": "A Unix timestamp in milliseconds.",
                                "example": 1678886400000
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request body or URL is malformed (invalid JSON, wrong types, missing required fields).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "format": "int32"
                        },
                        {
                          "type": "string"
                        }
                      ],
                      "description": "API layer: 5-digit integer (10000–19999). On-chain: 'pallet_error' string (e.g. '19_0').",
                      "example": 10001
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure.",
                      "example": "Market symbol does not exist."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here.",
                      "example": "symbol"
                    }
                  }
                },
                "example": {
                  "code": 10002,
                  "msg": "Request body is not valid JSON."
                }
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "format": "int32"
                        },
                        {
                          "type": "string"
                        }
                      ],
                      "description": "API layer: 5-digit integer (10000–19999). On-chain: 'pallet_error' string (e.g. '19_0').",
                      "example": 10001
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure.",
                      "example": "Market symbol does not exist."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here.",
                      "example": "symbol"
                    }
                  }
                },
                "example": {
                  "code": 10007,
                  "msg": "Market 'BTC-USDC' does not exist or is not active.",
                  "param": "symbol"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The client breached the designated rate limit weight.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "msg"
                  ],
                  "properties": {
                    "code": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "format": "int32"
                        },
                        {
                          "type": "string"
                        }
                      ],
                      "description": "API layer: 5-digit integer (10000–19999). On-chain: 'pallet_error' string (e.g. '19_0').",
                      "example": 10001
                    },
                    "msg": {
                      "type": "string",
                      "description": "A human-readable error message explaining the failure.",
                      "example": "Market symbol does not exist."
                    },
                    "param": {
                      "type": "string",
                      "description": "Optional. If the error was caused by a specific request parameter, its name is returned here.",
                      "example": "symbol"
                    }
                  }
                },
                "example": {
                  "code": 10010,
                  "msg": "Rate limit exceeded. Retry after 5 seconds."
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/subaccounts/{address}/perp/orders": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Subaccount Perpetual Order History",
        "security": [],
        "description": "Retrieves historical perpetual order records for a specific subaccount.",
        "operationId": "getPerpOrders",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The subaccount address.",
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "description": "An Ethereum-compatible address in 0x-prefixed hex format (20 bytes).",
              "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "description": "Filter by perpetual market symbol. If omitted, results are returned for all symbols.",
            "example": "BTC-USDC",
            "schema": {
              "type": "string",
              "description": "A perpetual market symbol.",
              "enum": [
                "BTC-USDC",
                "ETH-USDC",
                "SOL-USDC"
              ],
              "example": "BTC-USDC"
            }
          },
          {
            "name": "side",
            "in": "query",
            "required": false,
            "description": "Filter by order side.",
            "schema": {
              "type": "string",
              "description": "The side of an order.",
              "enum": [
                "BUY",
                "SELL"
              ],
              "example": "BUY"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor for pagination. Pass the `nextCursor` value from a previous response to fetch the next page of older records.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "required": false,
            "description": "Filter records at or after this timestamp (milliseconds).",
            "example": 1678800000000,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1000000000000,
              "maximum": 4102444800000,
              "description": "A Unix timestamp in milliseconds.",
              "example": 1678886400000
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "required": false,
            "description": "Filter records at or before this timestamp (milliseconds).",
            "example": 1678886400000,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1000000000000,
              "maximum": 4102444800000,
              "description": "A Unix timestamp in milliseconds.",
              "example": 1678886400000
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 500,
              "default": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of perpetual orders.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "items",
                        "hasNext"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "description": "Array of paginated result records.",
                          "example": []
                        },
                        "nextCursor": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Opaque cursor for the next page of results. Pass this value as `cursor` in the next request to retrieve earlier records. Null when `hasNext` is false. Encoded as a base64 string whose internal structure should not be relied upon.\n",
                          "example": "YWJjMTIz"
                        },
                        "hasNext": {
                          "type": "boolean",
                          "description": "Whether more records are available beyond this page.",
                          "example": true
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "description": "A perpetual order record.",
                            "required": [
                              "orderId",
                              "symbol",
                              "subaccount",
                              "side",
                              "type",
                              "status",
                              "time",
                              "updatedTime",
                              "price",
                              "qty",
                              "filledQty",
                              "filledQuoteQty",
                              "avgFilledPrice",
                              "takeProfit",
                              "stopLoss",
                              "reduceOnly",
                              "postOnly",
                              "fee",
                              "feeAsset",
                              "blockNumber",
                              "txHash"
                            ],
                            "properties": {
                              "orderId": {
                                "description": "On-chain order ID.",
                                "type": "string",
                                "example": "123456789"
                              },
                              "symbol": {
                                "type": "string",
                                "description": "A perpetual market symbol.",
                                "enum": [
                                  "BTC-USDC",
                                  "ETH-USDC",
                                  "SOL-USDC"
                                ],
                                "example": "BTC-USDC"
                              },
                              "subaccount": {
                                "description": "Subaccount address that placed the order.",
                                "type": "string",
                                "pattern": "^0x[a-fA-F0-9]{40}$",
                                "example": "0x980dda997141caa099752905d32f4a3fb980a4e3"
                              },
                              "side": {
                                "type": "string",
                                "description": "The side of an order.",
                                "enum": [
                                  "BUY",
                                  "SELL"
                                ],
                                "example": "BUY"
                              },
                              "type": {
                                "type": "string",
                                "description": "Basic order type.",
                                "enum": [
                                  "LIMIT",
                                  "MARKET"
                                ],
[...]
